.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.photo-div {
    position: relative;
    width: 180px!important;
    height: 180px!important;
    margin: 20px;
    border: 0px solid #000;
}
.photo-div:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -3.5px;
    left: -3px;
    border-top: 4px solid red;
    border-left: 4px solid red;
}
.photo-div:after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -3.5px;
    right: -3px;
    border-top: 4px solid red;
    border-right: 4px solid red;
}
.photo-span:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -3.5px;
    left: -3px;
    border-bottom: 4px solid red;
    border-left: 4px solid red;
}
.photo-span:after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -3.5px;
    right: -3px;
    border-bottom: 4px solid red;
    border-right: 4px solid red;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}