<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">

            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light "
                         style="padding-top: 0px">

                        <div class=" row vp-main-action">
                            <div style="text-transform: uppercase;text-align: center;">
                                <div class="col-md-6 vp-main-link2 "
                                     ng-class="{'active-link': viewType == 'managephoto'}"
                                     ng-click="selectType('managephoto')"
                                        > MANAGE PHOTO
                                </div>
                                <div class="col-md-6 vp-main-link2"
                                     ng-class="{'active-link': viewType == 'privacy'}"
                                     ng-click="selectType('privacy')"> PHOTO PRIVACY
                                </div>


                            </div>
                        </div>

                    </div>
                    <div ng-if="viewType == 'managephoto'">

                        <div class="portlet light border-rounded">

                            <div class="portlet-body form  form-horizontal">
                                <div class="row" style="text-align: center;font-size: 21px;margin:70px">
                                    <span class="  bold "> Get more response by uploading up to 20  photos on your profile</span>

                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                    <div style="position: relative;padding: 60px;background-color: gainsboro">
                                        <div class="photo-div"><span class="photo-span">
                                      <div class="upload-btn-wrapper">
                                          <button class="btn"
                                                  style="background-image:url('../assets/images/upload.png');width: 180px;height: 180px "></button>
                                          <input type="file" name="myfile"/>
                                      </div>

                                </span></div>
                                    </div>
                                        </div>
                                    <div class="col-md-6">
</div
                                    </div>
                            </div>
                        </div>

                    </div>

                    <div ng-if="viewType == 'privacy'">
                        <div class="portlet light border-rounded">
                            <div class="portlet-title">
                                <div class="caption ">
                                    <!--<i class="icon-settings font-red-sunglo"></i>-->
                                    <span class=" uppercase"><i class="fa fa-pencil icon-color"></i>&nbsp; Her Partenr preference</span>
                                </div>

                            </div>
                            <div class="portlet-body form">
                                <div class="row">


                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>
            <!-- END PAGE TITLE -->

        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->


        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>