<footer class="footer">
    <div class=" portlet light bordered">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11 ">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="heading heading-space"> About us</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1 margin-top-20 padding-0">
                                <div class="aboutus-logo"></div>
                            </div>
                            <div class="col-md-11 ">
                                <p class="text-left description">
                                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio
                                    sem
                                    nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non
                                    commodo
                                    luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
                                    consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat
                                    porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit
                                    amet
                                    fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
                                    lacinia
                                    odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="heading"> Need Help</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="description" ng-if="showLink"> <a ui-sref="customerCare">24X7 Live help</a> | <a ui-sref="contactUs">Contact Us</a> | <a ui-sref="feedback">Feedback</a> |<a ui-sref="businessEnquires">FAQ</a> </span>
                                        <span class="description" ng-if="!showLink"> <a>24X7 Live help</a> | <a >Contact Us</a> | <a >Feedback</a> |<a >FAQ</a> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="heading"> Quick Link</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="description"><a ui-sref="terms"> Privacy Policy</a>| <a ui-sref="terms">Terms of Use</a> | Advertise with us </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-30 margin-bottom-25">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="foot-text">Copyright © 2015 Marital . All Rights Reserved</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <!--<div class="col-md-12">-->
                                        <!--<span class="foot-text">-->
                                            <!--Contact Us &nbsp;-->
                                            <!--<a href="#" class=" socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-blue bg-hover-grey-salsa font-white bg-hover-white socicon-facebook tooltips" data-original-title="Facebook"></a>&nbsp;-->
                                            <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-green bg-hover-grey-salsa font-white bg-hover-white socicon-twitter tooltips" data-original-title="Twitter"></a>&nbsp;-->
                                            <!--<a href="#" class="socicon-btn socicon-btn-circle socicon-sm socicon-solid bg-red bg-hover-grey-salsa font-white bg-hover-white socicon-google tooltips" data-original-title="Google"></a>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
