<div class="page-content-wrapper">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content">
		<!-- BEGIN PAGE HEAD-->
		<div class="page-head">

			<!-- BEGIN PAGE BASE CONTENT -->

			<div class="row">
				<div class="col-md-12 text-right">
					<pagination total-elements="50" num-pages="10" ng-model="currentPage" ng-change="pageChange()" current-page="currentPage"
						class="pagination-small"></pagination>
				</div>
				<div class="col-md-12 ">
					<div class="portlet light  border-rounded ">
						<div class="portlet-title " style="border-bottom: 0px">
							<div class="caption green" style="font-size: 12px">
								<span> <input class="filter-check-box" type="checkbox"/>Select All</span>&nbsp; | &nbsp;
								<span> Delete</span>
							</div>
							<div class="actions">
								<div class="btn-group">
									<a class="btn btn-sm red dropdown-toggle" href="javascript:;" data-toggle="dropdown">
										<i class="fa fa-filter"></i>
									</a>
									<!--<a class="btn btn-sm red dropdown-toggle" href="javascript:;" data-toggle="dropdown">
										<i class="fa fa-map"></i> </a>-->
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="javascript:;">
												<i class="fa fa-pencil"></i> Edit </a>
										</li>
										<li>
											<a href="javascript:;">
												<i class="fa fa-trash-o"></i> Delete </a>
										</li>
										<li>
											<a href="javascript:;">
												<i class="fa fa-ban"></i> Ban </a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="javascript:;"> Make admin </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>




			</div>
			<div class="portlet light  border-rounded">

				<div class="portlet-body form">

					<div class="col-md-3">
						<div class="row">

							<div class="col-md-3"><input class="filter-check-box" type="checkbox" /></div>
							<div class="col-md-3"><img style="height: 80px;width: 80px" ng-src="../assets/images/prof1.jpg" />
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">

							<div class="col-md-5"><label class="message-name-text">Keerthi Suresh </label> &nbsp;<label class="style-cls">(356598)</label></div>
							<div class="col-md-4"><i class="fa fa-circle " style="color:#56bb55 ;padding-top:5px;"></i>&nbsp;<label>Online</label></div>
							<div class="col-md-3 pull-right"><label class="style-cls">12-Dec-2017</label><i class="fa fa-trash  pull-right style-cls " style="padding-top:5px;"></i></div>
						</div>
						<div class="row">
							<div class="col-md-12 details-style">
								23 Yrs, 5Ft/152cm, Tamil, Hindu, Mani Telugu Chettiar, B-Tech, Software Professional, Chennai, Tamil Nadu, Indian.
							</div>

						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 notification-style uppercase">INTEREST SENT</div>

							<div class="col-md-12 notification-details">You have sent a request to her</div>
						</div>
						<div class="row margin-top-10">
							<div class="col-md-12">
								<button type="button" class=" uppercase btn red input-rounded" ng-click="">
                                            Call Now
                                        </button>&nbsp;
								<button type="button" class=" uppercase btn btn-default  input-rounded" ng-click="">
                                        Send Interest
                                    </button>

							</div>
						</div>
					</div>

					<div class="row">

					</div>
				</div>
			</div>

			<div class="portlet light  border-rounded">

				<div class="portlet-body form">

					<div class="col-md-3">
						<div class="row">

							<div class="col-md-3"><input class="filter-check-box" type="checkbox" /></div>
							<div class="col-md-3"><img style="height: 80px;width: 80px" ng-src="../assets/images/prof1.jpg" />
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">

							<div class="col-md-5"><label class="message-name-text">Rithika </label> &nbsp;<label class="style-cls">(356598)</label></div>
							<div class="col-md-4"><i class="fa fa-circle " style="color:#56bb55 ;padding-top:5px;"></i>&nbsp;<label>Online</label></div>
							<div class="col-md-3 pull-right"><label class="style-cls">12-Dec-2017</label><i class="fa fa-trash  pull-right style-cls " style="padding-top:5px;"></i></div>
						</div>
						<div class="row">
							<div class="col-md-12 details-style">
								23 Yrs, 5Ft/152cm, Tamil, Hindu, Mani Telugu Chettiar, B-Tech, Software Professional, Chennai, Tamil Nadu, Indian.
							</div>

						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 notification-style uppercase">INTEREST SENT</div>

							<div class="col-md-12 notification-details">You have sent a request to her</div>
						</div>
						<div class="row margin-top-10">
							<div class="col-md-12">
								<button type="button" class=" uppercase btn red input-rounded" ng-click="">
                                            Call Now
                                        </button>&nbsp;
								<button type="button" class=" uppercase btn btn-default  input-rounded" ng-click="">
                                        Send Interest
                                    </button>

							</div>
						</div>
					</div>

					<div class="row">

					</div>
				</div>
			</div>
			<div class="portlet light  border-rounded">

				<div class="portlet-body form">

					<div class="col-md-3">
						<div class="row">

							<div class="col-md-3"><input class="filter-check-box" type="checkbox" /></div>
							<div class="col-md-3"><img style="height: 80px;width: 80px" ng-src="../assets/images/prof1.jpg" />
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">

							<div class="col-md-5"><label class="message-name-text">Priya Anand </label> &nbsp;<label class="style-cls">(356598)</label></div>
							<div class="col-md-4"></div>
							<div class="col-md-3 pull-right"><label class="style-cls">12-Dec-2017</label><i class="fa fa-trash  pull-right style-cls " style="padding-top:5px;"></i></div>
						</div>
						<div class="row">
							<div class="col-md-12 details-style">
								23 Yrs, 5Ft/152cm, Tamil, Hindu, Mani Telugu Chettiar, B-Tech, Software Professional, Chennai, Tamil Nadu, Indian.
							</div>

						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 notification-style uppercase">Interest Recived</div>

							<div class="col-md-12 notification-details">She is interested in your profile. Would you like to know more about her?</div>
						</div>
						<div class="row margin-top-10">
							<div class="col-md-12">
								<button type="button" class=" uppercase btn red input-rounded" ng-click="">
                                            Yes
                                        </button>&nbsp;
								<button type="button" class=" uppercase btn btn-default  input-rounded" ng-click="">
                                        Not Interested
                                    </button>

							</div>
						</div>
					</div>

					<div class="row">

					</div>
				</div>
			</div>

			<div class="portlet light  border-rounded">

				<div class="portlet-body form">

					<div class="col-md-3">
						<div class="row">

							<div class="col-md-3"><input class="filter-check-box" type="checkbox" /></div>
							<div class="col-md-3"><img style="height: 80px;width: 80px" ng-src="../assets/images/prof1.jpg" />
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">

							<div class="col-md-5"><label class="message-name-text">Priya Ranjini </label> &nbsp;<label class="style-cls">(356598)</label></div>
							<div class="col-md-4"><i class="fa fa-circle " style="color:#56bb55 ;padding-top:5px;"></i>&nbsp;<label>Online</label></div>
							<div class="col-md-3 pull-right"><label class="style-cls">12-Dec-2017</label><i class="fa fa-trash  pull-right style-cls " style="padding-top:5px;"></i></div>
						</div>
						<div class="row">
							<div class="col-md-12 details-style">
								23 Yrs, 5Ft/152cm, Tamil, Hindu, Mani Telugu Chettiar, B-Tech, Software Professional, Chennai, Tamil Nadu, Indian.
							</div>

						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 notification-style uppercase">Add photo request</div>

							<div class="col-md-12 notification-details">She has requested you to add photo and you have noy added it yet.</div>
						</div>
						<div class="row margin-top-10">
							<div class="col-md-12">
								<button type="button" class=" uppercase btn red input-rounded" ng-click="">
                                            Add photo
                                                                                    </button>&nbsp;
								<button type="button" class=" uppercase btn btn-default  input-rounded" ng-click="">
Not interested                                    </button>
<label class="pull-right  font-red-mint"> +2 More Conversations</label>
							</div>
						</div>
					</div>

					<div class="row">

					</div>
				</div>
			</div>
			<div class="portlet light  border-rounded">

				<div class="portlet-body form">

					<div class="col-md-3">
						<div class="row">

							<div class="col-md-3"><input class="filter-check-box" type="checkbox" /></div>
							<div class="col-md-3"><img style="height: 80px;width: 80px" ng-src="../assets/images/prof1.jpg" />
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">

							<div class="col-md-5"><label class="message-name-text">Vijaya Lakshmi </label> &nbsp;<label class="style-cls">(356598)</label></div>
							<div class="col-md-4"><i class="fa fa-circle " style="color:#56bb55 ;padding-top:5px;"></i>&nbsp;<label>Online</label></div>
							<div class="col-md-3 pull-right"><label class="style-cls">12-Dec-2017</label><i class="fa fa-trash  pull-right style-cls " style="padding-top:5px;"></i></div>
						</div>
						<div class="row">
							<div class="col-md-12 details-style">
								23 Yrs, 5Ft/152cm, Tamil, Hindu, Mani Telugu Chettiar, B-Tech, Software Professional, Chennai, Tamil Nadu, Indian.
							</div>

						</div>
						<hr>
						<div class="row">
							<div class="col-md-12 notification-style uppercase">Horoscope Request</div>

							<div class="col-md-12 notification-details">She has requested you to add horoscope.</div>
						</div>
						<div class="row margin-top-10">
							<div class="col-md-12">
								<button type="button" class=" uppercase btn red input-rounded" ng-click="">
                                            Add Horoscope
                                                      </button>&nbsp;
								<button type="button" class=" uppercase btn btn-default  input-rounded" ng-click="">
Not interested                                    </button>
								<label class="pull-right  font-red-mint"> +3 More Conversations</label>
							</div>
						</div>
					</div>

					<div class="row">

					</div>
				</div>
			</div>

			<div class="col-md-12 text-right">
				<pagination total-elements="50" num-pages="10" ng-model="currentPage" ng-change="pageChange()" current-page="currentPage"
					class="pagination-small"></pagination>
			</div>







		</div>
	</div>