<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">

            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <!--<i class="icon-settings font-red-sunglo"></i>-->
                                <span class=" uppercase"><i class="fa fa-pencil icon-color"></i>&nbsp; Few words about my son</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm red input-rounded" ng-click="editAction('about')"> EDIT

                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form" >
                            <p ng-hide="about"> {{profile.login_user.aboutme}}</p>
                            <div  ng-show="about">
                                <textarea class="form-control" rows="3" ng-model="profile.login_user.aboutme"></textarea>
                            </div>

                            <hr>
                        <div class="actions" style="text-align: right" ng-show="about">
                                <button type="button" ng-click="editAction('about')" class=" btn btn-default input-rounded " ng-click="">
                                    Cancel
                                </button> &nbsp;
                                <button type="button" ng-click="aboutme()"class=" btn btn-default red input-rounded " style="color:#ffffea" >
                                    Save
                                </button>

                        </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-file-text icon-color"></i> &nbsp;Basic details</span>
                            </div>
                            <div class="actions pull-right">
                                <div class="">
                                    <button type="button" class=" btn btn-default input-rounded " ng-click="">
                                        Cancel
                                    </button> &nbsp;
                                    <button type="button" class=" btn btn-default red input-rounded " style="color:#ffffea" ng-click="">
                                        Save
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Profile created for</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.profile_for">
                                        <option>Select</option>
                                        <option value="son">Son</option>
                                        <option value="daughter">Daughter</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Age </label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.age">
                                        <option>Select </option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Height</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.height">
                                        <option>Select</option>
                                        <option value="170">5Ft 11In / 178 cm</option>
                                        <option  value="171">6Ft 0In / 180 cm</option>
                                        <option  value="172">5ft 0In / 150 cm</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Weight</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.weight">
                                        <option>Select </option>
                                        <option  value="50">50Kg 115 Lbs</option>
                                        <option  value="60">60Kg /135 Lbs</option>
                                        <option  value="70">70Kg / 155 Lbs</option>
                                        <option  value="75">75Kg / 175 Lbs</option>
                                        <option  value="80">80Kg / 175 Lbs</option>



                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Body Type</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.body_type">
                                        <option>Select</option>
                                        <option value="slim">Slim</option>
                                        <option value="athletic">Athletic</option>
                                        <option value="average">Average</option>
                                        <option value="heavy">Heavy</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Complexion toung</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.complexion">
                                        <option>Select</option>
                                        <option value="fair">Fair</option>
                                        <option value="wheatish">Wheatish</option>
                                        <option value="brown">Brown</option>
                                        <option value="dark">Dark</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Physical Type</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.physical_status">
                                        <option>Select</option>
                                        <option value="normal">Normal</option>
                                        <option value="challenged">Challenged</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Mother toungue</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.mothertongue">
                                        <option>Select </option>
                                        <option value="1">Malayalam</option>
                                        <option value="2">Tamil</option>
                                        <option value="3">Telengu</option>
                                        <option value="4">Kanada</option>
                                        <option value="5">English</option>
                                        <option value="6">Hindi</option>
                                        <option value="7">Others</option>


                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Marital Status</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.marital_status">
                                        <option>Select</option>
                                        <option value="unmarried">Never Married</option>
                                        <option value="married"> Married</option>
                                        <option value="divorced">Divorced</option>
                                        <option value="widow">Widow</option>
                                        <option value="widower">widower</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Eating habits</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.eating_habit">
                                        <option>Select</option>
                                        <option value="vegetarian">Vegiterian</option>
                                        <option value="nonvegetarian">Non Vegiterian</option>
                                        <option value="eggeterian">Eggeterian</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Drinking habits</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.drinking_habit">
                                        <option>Select</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Smoking Habits </label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.smoking_habit">
                                        <option>Select </option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>

                            </div>
                            <hr>

                            <div class="form-group">
                                <div class="col-md-6"></div>

                                <div class="col-md-3 col-md-offset-3 " style="padding-left:5.2%">
                                    <button type="button" class=" btn btn-default input-rounded " ng-click="">
                                        Cancel
                                    </button> &nbsp;
                                    <button type="button" ng-click="basic()" class=" btn btn-default red input-rounded " style="color:#ffffea" ng-click="">
                                        Save
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-map icon-color"></i> &nbsp;Location</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Country</label>

                                    <select class="form-control input-rounded " ng-model="country" ng-click="selectCountry(country)">
                                        <option ng-repeat="obj in countryList" value="{{obj}}">{{obj.country_name}}</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> State </label>

                                    <select class="form-control input-rounded " ng-model="state" ng-click="selectState(state)">
                                        <option ng-repeat="obj in stateList" value="{{obj}}">{{obj.state_name}}</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> City</label>

                                    <select class="form-control input-rounded " ng-model="city" ng-click="selectCity(city)">
                                        <option ng-repeat="obj in cityList" value="{{obj}}">{{obj.city_name}}</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Citizenship</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.weight">
                                        <option>Select </option>
                                        <option  value="50">50Kg 115 Lbs</option>
                                        <option  value="60">60Kg /135 Lbs</option>
                                        <option  value="70">70Kg / 155 Lbs</option>
                                        <option  value="75">75Kg / 175 Lbs</option>
                                        <option  value="80">80Kg / 175 Lbs</option>



                                    </select>
                                </div>

                            </div>
                                                        <hr>





                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Country</label>
                                    <p class="details">India</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> State</label>
                                    <p class="details ">Tamil Nadu</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> City</label>
                                    <p class="details ">Chennai</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Citizenship</label>
                                    <p class="details ">Indian</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-clone icon-color"></i> &nbsp;Religious Information</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Religion</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.profile_for">
                                        <option ng-repeat="obj in religonList" value="obj">{{obj.religion}}</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Caste /Sub caste</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.weight">
                                        <option>Select </option>
                                        <option  value="50">50Kg 115 Lbs</option>
                                        <option  value="60">60Kg /135 Lbs</option>
                                        <option  value="70">70Kg / 155 Lbs</option>
                                        <option  value="75">75Kg / 175 Lbs</option>
                                        <option  value="80">80Kg / 175 Lbs</option>



                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Gothram</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.height">
                                        <option>Select</option>
                                        <option value="170">5Ft 11In / 178 cm</option>
                                        <option  value="171">6Ft 0In / 180 cm</option>
                                        <option  value="172">5ft 0In / 150 cm</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Star / Rassi</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.weight">
                                        <option>Select </option>
                                        <option  value="50">50Kg 115 Lbs</option>
                                        <option  value="60">60Kg /135 Lbs</option>
                                        <option  value="70">70Kg / 155 Lbs</option>
                                        <option  value="75">75Kg / 175 Lbs</option>
                                        <option  value="80">80Kg / 175 Lbs</option>



                                    </select>
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Chevvai Dosham / Rassi</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.height">
                                        <option>Select</option>
                                        <option value="170">5Ft 11In / 178 cm</option>
                                        <option  value="171">6Ft 0In / 180 cm</option>
                                        <option  value="172">5ft 0In / 150 cm</option>

                                    </select>
                                </div>



                            </div>




                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Religion</label>
                                    <p class="details">Hindu</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Caste /Sub caste</label>
                                    <p class="details ">Nadar</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Gothram</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Star / Rassi</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Chevvai Dosham / Rassi</label>
                                    <p class="details ">No</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-mortar-board icon-color"></i> &nbsp;Professional Information</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Education</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.height">
                                        <option>Select</option>
                                        <option value="170">5Ft 11In / 178 cm</option>
                                        <option  value="171">6Ft 0In / 180 cm</option>
                                        <option  value="172">5ft 0In / 150 cm</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Educational in detail</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.weight">
                                        <option>Select </option>
                                        <option  value="50">50Kg 115 Lbs</option>
                                        <option  value="60">60Kg /135 Lbs</option>
                                        <option  value="70">70Kg / 155 Lbs</option>
                                        <option  value="75">75Kg / 175 Lbs</option>
                                        <option  value="80">80Kg / 175 Lbs</option>



                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Occupation</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.height">
                                        <option>Select</option>
                                        <option value="170">5Ft 11In / 178 cm</option>
                                        <option  value="171">6Ft 0In / 180 cm</option>
                                        <option  value="172">5ft 0In / 150 cm</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Employed in</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.weight">
                                        <option>Select </option>
                                        <option  value="50">50Kg 115 Lbs</option>
                                        <option  value="60">60Kg /135 Lbs</option>
                                        <option  value="70">70Kg / 155 Lbs</option>
                                        <option  value="75">75Kg / 175 Lbs</option>
                                        <option  value="80">80Kg / 175 Lbs</option>



                                    </select>
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Annaul Income</label>

                                    <select class="form-control input-rounded " ng-model="profile.login_user.height">
                                        <option>Select</option>
                                        <option value="170">5Ft 11In / 178 cm</option>
                                        <option  value="171">6Ft 0In / 180 cm</option>
                                        <option  value="172">5ft 0In / 150 cm</option>

                                    </select>
                                </div>



                            </div>




                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Education</label>
                                    <p class="details">BE</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Educational in Detail</label>
                                    <p class="details ">Not available</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Occupation</label>
                                    <p class="details ">Web Developer</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Employed in</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Annaul Income</label>
                                    <p class="details ">Rs 7,00,000</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-users icon-color"></i> &nbsp;Family Details</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Family Values</label>
                                    <p class="details">Traditional</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Ancestral Origin</label>
                                    <p class="details ">Not specified</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Family Type</label>
                                    <p class="details ">Nuclear</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> No of Brother(s)</label>
                                    <p class="details ">Non</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Number of sister(s) </label>
                                    <p class="details ">1 / Not married</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Family Status</label>
                                    <p class="details ">Upper Middle Class</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Father's Status </label>
                                    <p class="details ">Bussinesman</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Mother's Status </label>
                                    <p class="details ">Home maker</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-users icon-color"></i> &nbsp; About My Family</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-12">
                                    <p class="details">My son is a cam and understanding boy.He respects traditional values and also has modern outlook. He loves reading
                                        books and hearing music.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h3 style="color:#2db19a">Partner Preferences</h3>
                </div>

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-file-text icon-color"></i> &nbsp; Basic Preferences</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Age </label>
                                        <p class="details ">28 Years</p>

                                    </div>
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Height </label>
                                        <p class="details ">6 Ft 0In / 180 cm </p>

                                    </div>


                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Physical Type </label>
                                        <p class="details ">Normal </p>
                                    </div>

                                    <div class="col-md-4">

                                        <label class=" font-weight-head  "> Mother Tongue </label>
                                        <p class="details ">Malayalam </p>

                                    </div>

                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Marital Status </label>
                                        <p class="details ">Never married</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Eating Habits </label>
                                        <p class="details ">Non Vegitarian</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Drinking Habits </label>
                                        <p class="details ">Non-Drinker </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Smoking Habits</label>
                                        <p class="details ">Non-Smoker </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-clone icon-color"></i> &nbsp;Religious Preferences</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Religion</label>
                                    <p class="details">Hindu</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Caste /Sub caste</label>
                                    <p class="details ">Nadar</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Gothram</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Star / Rassi</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Chevvai Dosham / Rassi</label>
                                    <p class="details ">No</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-mortar-board icon-color"></i> &nbsp;Professional Information</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Education</label>
                                    <p class="details">BE</p>
                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Occupation</label>
                                    <p class="details ">Web Developer</p>
                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Annaul Income</label>
                                    <p class="details ">Any Annual Income</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-map icon-color"></i> &nbsp;Location & Citizenship Preference</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Country</label>
                                    <p class="details">India</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> State</label>
                                    <p class="details ">Tamil Nadu</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> City</label>
                                    <p class="details ">Chennai</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Citizenship</label>
                                    <p class="details ">Indian</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-users icon-color"></i> &nbsp; What We Are Looking For</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-12">
                                    <p class="details">My son is a cam and understanding boy. He respects traditional values and also has modern outlook. He loves reading
                                        books and hearing music.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- END PAGE TITLE -->

</div>


<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->




<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
</div>