<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">

            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <!--<i class="icon-settings font-red-sunglo"></i>-->
                                <span class=" uppercase"><i class="fa fa-pencil icon-color"></i>&nbsp; Few words about my son</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm red input-rounded" href="javascript:;"> EDIT

                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <p> My son is a cam and understanding boy.He respects traditional values and also has modern outlook. He loves reading
                                books and hearing music.</p>

                        </div>
                    </div>

                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-file-text icon-color"></i> &nbsp;Basic details</span>
                            </div>
                            <div class="actions">
                                <div class="">
                                    <button type="button" class=" btn btn-default input-rounded " ng-click="">
                                        Cancel
                                    </button> &nbsp;
                                    <button type="button" class=" btn btn-default red input-rounded " style="color:#ffffea" ng-click="">
                                        Save
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Profile created for</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>Son</option>
                                        <option>Daughter</option>
                                        <option>Others</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Age </label>

                                    <select class="form-control input-rounded ">
                                        <option>Select </option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>25</option>
                                        <option>26</option>
                                        <option>27</option>
                                        <option>28</option>
                                        <option>29</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Height</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>5Ft 11In / 178 cm</option>
                                        <option>6Ft 0In / 180 cm</option>
                                        <option>5ft 0In / 150 cm</option>
                                        <option>Others</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Weight</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select </option>
                                        <option>50Kg 115 Lbs</option>
                                        <option>60Kg /135 Lbs</option>
                                        <option>70Kg / 155 Lbs</option>
                                        <option>80Kg / 175 Lbs</option>
                                        <option>90kg / 195Lbs</option>
                                        <option>Above 100 kg</option>
                                        <option>Others</option>


                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Body Type</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>Average</option>
                                        <option>Others</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Complexion toung</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>Whestish Brown</option>
                                        <option>Others</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Physical Type</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>Normal</option>
                                        <option>Others</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Mother toung</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select </option>
                                        <option>Malayalam</option>
                                        <option>Tamil</option>
                                        <option>Telengu</option>
                                        <option>Kanada</option>
                                        <option>English</option>
                                        <option>Hindi</option>
                                        <option>Others</option>


                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Marital Status</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>Never Married</option>
                                        <option>Divorced</option>
                                        <option>Others</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Eating habbits</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>Vegiterian</option>
                                        <option>Non Vegiterian</option>
                                        <option>Others</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Drinking habits</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>Non-Drinker</option>
                                        <option>Others</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Smoking Habits </label>

                                    <select class="form-control input-rounded ">
                                        <option>Select </option>
                                        <option>Non-smoker</option>
                                        <option>Others</option>
                                    </select>
                                </div>

                            </div>
                            <hr>

                            <div class="form-group">
                                <div class="col-md-6"></div>

                                <div class="col-md-3 col-md-offset-3 " style="padding-left:5.2%">
                                    <button type="button" class=" btn btn-default input-rounded " ng-click="">
                                        Cancel
                                    </button> &nbsp;
                                    <button type="button" class=" btn btn-default red input-rounded " style="color:#ffffea" ng-click="">
                                        Save
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-map icon-color"></i> &nbsp;Location</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Country</label>
                                    <p class="details">India</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> State</label>
                                    <p class="details ">Tamil Nadu</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> City</label>
                                    <p class="details ">Chennai</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Citizenship</label>
                                    <p class="details ">Indian</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-clone icon-color"></i> &nbsp;Religious Information</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Religion</label>
                                    <p class="details">Hindu</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Caste /Sub caste</label>
                                    <p class="details ">Nadar</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Gothram</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Star / Rassi</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Chevvai Dosham / Rassi</label>
                                    <p class="details ">No</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-mortar-board icon-color"></i> &nbsp;Professional Information</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Education</label>
                                    <p class="details">BE</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Educational in Detail</label>
                                    <p class="details ">Not available</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Occupation</label>
                                    <p class="details ">Web Developer</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Employed in</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Annaul Income</label>
                                    <p class="details ">Rs 7,00,000</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-users icon-color"></i> &nbsp;Family Details</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Family Values</label>
                                    <p class="details">Traditional</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Ancestral Origin</label>
                                    <p class="details ">Not specified</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Family Type</label>
                                    <p class="details ">Nuclear</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> No of Brother(s)</label>
                                    <p class="details ">Non</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Number of sister(s) </label>
                                    <p class="details ">1 / Not married</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Family Status</label>
                                    <p class="details ">Upper Middle Class</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Father's Status </label>
                                    <p class="details ">Bussinesman</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Mother's Status </label>
                                    <p class="details ">Home maker</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-users icon-color"></i> &nbsp; About My Family</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-12">
                                    <p class="details">My son is a cam and understanding boy.He respects traditional values and also has modern outlook. He loves reading
                                        books and hearing music.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h4 style="color:#2db19a">Partner Preferences</h3>
                </div>

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-file-text icon-color"></i> &nbsp; Basic Preferences</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Age </label>
                                        <p class="details ">28 Years</p>

                                    </div>
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Height </label>
                                        <p class="details ">6 Ft 0In / 180 cm </p>

                                    </div>


                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Physical Type </label>
                                        <p class="details ">Normal </p>
                                    </div>

                                    <div class="col-md-4">

                                        <label class=" font-weight-head  "> Mother Tongue </label>
                                        <p class="details ">Malayalam </p>

                                    </div>

                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Marital Status </label>
                                        <p class="details ">Never married</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Eating Habits </label>
                                        <p class="details ">Non Vegitarian</p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Drinking Habits </label>
                                        <p class="details ">Non-Drinker </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" font-weight-head  "> Smoking Habits</label>
                                        <p class="details ">Non-Smoker </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-clone icon-color"></i> &nbsp;Religious Preferences</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Religion</label>
                                    <p class="details">Hindu</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Caste /Sub caste</label>
                                    <p class="details ">Nadar</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Gothram</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Star / Rassi</label>
                                    <p class="details ">Not available</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Chevvai Dosham / Rassi</label>
                                    <p class="details ">No</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-mortar-board icon-color"></i> &nbsp;Professional Information</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Education</label>
                                    <p class="details">BE</p>
                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Occupation</label>
                                    <p class="details ">Web Developer</p>
                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Annaul Income</label>
                                    <p class="details ">Any Annual Income</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-map icon-color"></i> &nbsp;Location & Citizenship Preference</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="font-weight-head "> Country</label>
                                    <p class="details">India</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> State</label>
                                    <p class="details ">Tamil Nadu</p>

                                </div>

                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> City</label>
                                    <p class="details ">Chennai</p>

                                </div>
                                <div class="col-md-4">
                                    <label class=" font-weight-head  "> Citizenship</label>
                                    <p class="details ">Indian</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <span class=" uppercase"><i class=" fa fa-users icon-color"></i> &nbsp; What We Are Looking For</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <button type="button" class=" btn btn-sm red input-rounded " style="color:#ffffea" ng-click="">
                                        EDIT
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form  form-horizontal">

                            <div class="form-group">

                                <div class="col-md-12">
                                    <p class="details">My son is a cam and understanding boy. He respects traditional values and also has modern outlook. He loves reading
                                        books and hearing music.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- END PAGE TITLE -->

</div>


<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->




<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
</div>