<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="margin-left: 0px!important;">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">

            <!-- BEGIN PAGE BASE CONTENT -->


            <div class="row">
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light bordered border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <!--<i class="icon-settings font-red-sunglo"></i>-->
                                <span class="caption-subject bold uppercase"> Robo Search</span>
                            </div>
                            <!--
                                                        <div class="actions">
                                                            <div class="btn-group">
                                                                <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions
                                                                    <i class="fa fa-angle-down"></i>
                                                                </a>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-pencil"></i> Edit </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-trash-o"></i> Delete </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="fa fa-ban"></i> Ban </a>
                                                                    </li>
                                                                    <li class="divider"> </li>
                                                                    <li>
                                                                        <a href="javascript:;"> Make admin </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                            -->
                        </div>


                        <div class="portlet-body form form-horizontal">
                            <div class="form-group">

                                <div class="col-md-2">

                                    <label class=" uppercase font-weight "> Age</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label class=" uppercase font-weight "> &nbsp;</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                    </select>
                                </div>


                                <div class="col-md-2 col-md-offset-2">
                                    <label class=" uppercase font-weight "> Height</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>170cm 5.7 feet</option>
                                        <option>150cm 5.0 feet</option>
                                        <option>170cm 5.7 feet</option>
                                        <option>170cm 5.7 feet</option>
                                        <option>160cm 5.3 feet</option>

                                    </select>
                                </div>
                                <div class="col-md-2 ">
                                    <label class=" uppercase font-weight "> &nbsp;</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>170cm 5.7 feet</option>
                                        <option>150cm 5.0 feet</option>
                                        <option>170cm 5.7 feet</option>
                                        <option>170cm 5.7 feet</option>
                                        <option>160cm 5.3 feet</option>

                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class=" uppercase font-weight col-md-12 "> Marital Status</label>

                                <div class="col-md-12">
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="any">
                                        Any</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="unmarriedy">
                                        Unmarried</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="widow">
                                        Widow</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="divorced">
                                        Divorced</label>
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="awaitingDivorce">
                                        Divorce awaiting</label>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Religion</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>Christian</option>
                                        <option>Hindu</option>
                                        <option>Muslim</option>
                                        <option>Others</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Mother toung</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select Mother Toung</option>
                                        <option>Malayalam</option>
                                        <option>Tamil</option>
                                        <option>Telengu</option>
                                        <option>Kanada</option>
                                        <option>English</option>
                                        <option>Hindi</option>
                                        <option>Others</option>


                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Cast</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>Cast 1</option>
                                        <option>Cast 2</option>
                                        <option>Cast 3</option>
                                        <option>Cast 4</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Country</label>

                                    <select class="form-control input-rounded ">
                                        <option>Select</option>
                                        <option>India</option>
                                        <option>UAE</option>
                                        <option>USA</option>
                                        <option>Bharin</option>
                                        <option>Qatar</option>
                                        <option>Others</option>


                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Education</label>

                                    <select class="form-control input-rounded ">
                                        <option>Education Categories</option>
                                        <option>X</option>
                                        <option>XII</option>
                                        <option>Bachelors</option>
                                        <option>Masters</option>
                                        <option>Ph.D</option>
                                        <option>Others</option>

                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> &nbsp;</label>

                                    <select class="form-control input-rounded ">
                                        <option>Selected Categories</option>
                                        <option>Malayalam</option>
                                        <option>Tamil</option>
                                        <option>Telengu</option>
                                        <option>Kanada</option>
                                        <option>English</option>
                                        <option>Hindi</option>
                                        <option>Others</option>


                                    </select>
                                </div>

                            </div>
                            <hr>
                            <br>

                            <div class="form-group">
                                <label class=" uppercase font-weight col-md-12 "> Show Profiles</label>

                                <div class="col-md-12">
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="withPhoto">
                                        With Photo</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="withHoroscope">
                                        With Horoscope</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="onlineRightNow">
                                        Online Right Now</label>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class=" uppercase font-weight col-md-12 "> Don't show</label>

                                <div class="col-md-12">
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="ignoredProfiles">
                                        Ignored Profiles</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="profilesAlreadyContacted">
                                        Profiles Already Contacted</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="viewedProfiles">
                                        Viewed Profiles</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="shortlistedProfiles">
                                        Shortlisted Profiles</label>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-offset-10">
                                    <button type="button" class=" btn red input-rounded"
                                            ng-click="">
                                        Search
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</div>
<!-- END PAGE TITLE -->
<!-- BEGIN PAGE TOOLBAR -->
<!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->


<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
</div>