<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="row">
                <div class="col-md-12 text-right">
                    <dir-pagination-controls
                            max-size="5"
                            direction-links="true"
                            boundary-links="true" >
                    </dir-pagination-controls>
                    <!--<pagination total-elements="50" num-pages="10" ng-model="currentPage" ng-change="pageChange()" current-page="currentPage" class="pagination-small"></pagination>-->
                </div>
                <div class="col-md-12 ">
                    <div class="portlet light bordered ">
                        <div class="portlet-title " style="border-bottom: 0px">
                            <div class="caption green" style="font-size: 12px">
                                <span class="caption-subject profile-sort   "> Profile shorts :</span>
                                <span> <input class="filter-check-box" type="checkbox"/>Photo Available</span>
                                <span> <input class="filter-check-box" type="checkbox"/>Horoscope Available</span>
                                <span> <input class="filter-check-box" type="checkbox"/>On line Now</span>
                                <span style="margin-left:20px"> More</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm red dropdown-toggle" href="javascript:;"
                                       data-toggle="dropdown">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <a class="btn btn-sm red dropdown-toggle" href="javascript:;"
                                       data-toggle="dropdown">
                                        <i class="fa fa-map"></i>                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-pencil"></i> Edit </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-trash-o"></i> Delete </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-ban"></i> Ban </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="javascript:;"> Make admin </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="color: red;text-align: center">{{message}}</div>
                                        <span dir-paginate="item in matches|itemsPerPage:5">

                    <div class="portlet light bordered">
                        <div class="portlet-title" style="border-bottom: 0px">
                            <div class="caption ">
                                <span class="caption-subject font-red-sunglo bold"> {{item.name}}</span> <span>({{item.id_people}})</span>
                                <br/>
                                <span ng-if="item.profile_for != null && item.profile_for != ''" style="font-size: 9px"> Profile created by {{item.profile_for}}</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-sm  dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-pencil"></i> Edit </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-trash-o"></i> Delete </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-ban"></i> Ban </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="javascript:;"> Make admin </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <div class="row">
                                <div class="col-md-3" style="text-align: center;background-color: #eaeef1">

                                    <div style="width: 100%;margin-bottom: 10px;margin-top: 10px;line-height: 150px">
                                        <span class="pull-left ">
                                            <a href="javascript:;" class="btn btn-icon-only default">
                                            <i class="icon-control-rewind"></i>
                                        </a></span>
                                        <span><img style="height: 130px;"
                                                   ng-src="../assets/images/prof1.jpg"/></span>
                                        <span class="pull-right">
                                            <a href="javascript:;" class="btn btn-icon-only default">
                                            <i class="icon-control-forward"></i>
                                        </a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="row" >
                                        <div class="col-md-12" style="border-bottom: 1px solid #eef1f5;">
                                            <table width="100%" style="margin-bottom: 10px;" class="match-table">
                                                <tr>
                                                    <td width="30%" class="first-row">Age/Height</td>
                                                    <td width="5%">:</td>
                                                    <td width="45%">{{item.age}},{{item.height}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row">Religion</td>
                                                    <td>:</td>
                                                    <td>{{item.religion}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row">Mother Tongue</td>
                                                    <td>:</td>
                                                    <td>{{item.mothertongue}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row">Community</td>
                                                    <td>:</td>
                                                    <td>Vaniyakullak Kshathriya</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row">Star</td>
                                                    <td>:</td>
                                                    <td>{{item.star}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row">Education</td>
                                                    <td>:</td>
                                                    <td>{{item.education}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row">Profession/Income</td>
                                                    <td>:</td>
                                                    <td>{{item.occupation}},{{item.income}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row">Location</td>
                                                    <td>:</td>
                                                    <td>{{item.city_name}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-12"
                                             style="margin-bottom: 10px;margin-top: 10px;font-size: 12px">
                                            {{item.about_family}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class=" row vp-main-action" ng-if="mainlink !='shortlisted'">
                                <div style="text-transform: uppercase;text-align: center;">
                                    <div class="col-md-3"
                                         style="padding: 20px;border: 1px solid #eef1f5;background-color: gainsboro;cursor: pointer" ng-click="shortlist(item.id_people)"><i
                                            class="fa fa-star-o"></i> Shortlist
                                    </div>
                                    <div class="col-md-3"
                                         style="padding: 20px;border: 1px solid #eef1f5;background-color: gainsboro;text-align: center">
                                        <i class="fa fa-phone"></i> Call now
                                    </div>
                                    <div class="col-md-3"
                                         style="padding: 20px;border: 1px solid #eef1f5;background-color: gainsboro"><i
                                            class="fa fa-commenting-o"></i> Chat now
                                    </div>
                                    <div class="col-md-3" ng-click="sendInterest(item.id_people)"
                                         style="padding: 20px;border: 1px solid #eef1f5;background-color: #e7505a"><i
                                            class="fa fa-heart" style="color: white!important;font-size: 18px"></i> Send Interest
                                    </div>

                                </div>
                            </div>
                            <div class=" row vp-main-action" ng-if="mainlink =='shortlisted'">
                                <div style="text-transform: uppercase;text-align: center;">

                                    <div class="col-md-4"
                                         style="padding: 20px;border: 1px solid #eef1f5;background-color: gainsboro;text-align: center">
                                        <i class="fa fa-phone"></i> Call now
                                    </div>
                                    <div class="col-md-4"
                                         style="padding: 20px;border: 1px solid #eef1f5;background-color: gainsboro"><i
                                            class="fa fa-commenting-o"></i> Chat now
                                    </div>
                                    <div class="col-md-4"
                                         style="padding: 20px;border: 1px solid #eef1f5;background-color: #e7505a"><i
                                            class="fa fa-heart" style="color: white!important;font-size: 18px"></i> Send Interest
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
</span>
                    <div class="col-md-12 text-right">
                        <dir-pagination-controls
                                max-size="5"
                                direction-links="true"
                                boundary-links="true" >
                        </dir-pagination-controls>
                        <!--<pagination total-elements="50" num-pages="10" ng-model="currentPage" ng-change="pageChange()" current-page="currentPage" class="pagination-small"></pagination>-->
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>