.vp-main-action .vp-main-link2 {
    padding: 20px;
    border: 1px solid #eef1f5;
    background-color: #ffffff;
    font-size: 14px !important;
    font-weight: bold;
    color: #777777;
}
.payment-box{
    border: 1px solid #777777;
    height: 301px;
    /*margin-right: 25px;*/
    margin-top: 25px;
}
.feature-header-text {
    color: red;
    font-weight: 600;
    text-transform: capitalize;
}
.feature-header {
   background-color: #edf3f7;
}
.price-detail{
    border-right: 1px solid #777777;
}
.col-md-border {

    border-right: 1px solid red !important;
}
.old-price {
    text-decoration: line-through;
}
.new-price {
    font-weight: 600;
}
.selected-payment {
    background-color: red;
}

.feature-box{
    border: 1px solid #777777 !important;
    height: 100px !important;
}
.select-payment-header{
    background-color: #edf3f7;
    margin-left: -20px;
    margin-right: -20px;

}
.summary-payment-header{
    background-color: #b4d7ef;
    margin-left: -20px;
    margin-right: -20px;

}
.summary-payment-footer{
    background-color: #b4d7ef;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -16px !important;

}
.summary-payment-margin-top{
    margin-top: -10px !important;
}

.select-payment-header-text{
    color: red !important;
    padding-left: 50px !important;
    /*margin-left: 10px !important;*/
}
.summary-payment-header-text{
    color: black !important;
    padding-left: 100px !important;
    /*margin-left: 10px !important;*/
}
.summary-payment-header-text-bottom{
    color: black !important;
    padding-left: 50px !important;
    /*margin-left: 10px !important;*/
}
.border-portlet{
    border: 1px solid black !important;
}



@media (max-width: 991px) {
    .payment-box{
        border: 1px solid #777777;
        height: 301px;
        /*margin-right: 25px;*/
        margin-top: 25px;
        margin-bottom: 50px;
    }
}
@media (max-width: 451px) {
    .feature-box{
        border: 1px solid #777777 !important;
        height: 150px !important;
    }
}

