<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">

            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">
                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="caption ">
                        <span class="caption-subject bold uppercase settings-heading"> Account Settings</span>
                    </div>
                    <div class="portlet light bordered border-rounded">
                        <div class="portlet-title" style="border: hidden">
                            <div class="caption ">
<span class=" caption-subject  font-black  uppercase">Edit E-mail Address</span>
                            <div class="caption-helper font-black font-sm"> </div>
                            </div>

                        </div>
                        <div class="portlet-body form form-horizontal">
<p> A valid e-mail id will be used to send you partner search mailers, member to member communication mailers and special offers.</p>
<hr>
                            <div class="form-group">

                                <div class="col-md-12">
                                    <label class=" uppercase  "> Email ID</label>

                                    <input type="text" class="form-control input-rounded"
                                           placeholder="Enter Id" ng-model="email"></div>
                            </div>
                            <hr>
                            <div class="form-group">

                                <div class="col-md-12">
                                    <div class="pull-right">
                                    <button type="button" class=" btn btn-default input-rounded"
                                            ng-click="changeEmail()">
                                        Save
                                    </button>&nbsp;<button type="button" class=" btn red input-rounded"
                                            ng-click="">
                                        Reset
                                    </button>
                                    </div>

                                </div>
                                </div>
                        </div>
                    </div>

                    <div class="portlet light bordered border-rounded">
                        <div class="portlet-title" style="border: hidden">
                            <div class="caption ">
                                <span class=" caption-subject  font-black  uppercase">Change password</span>
                                <div class="caption-helper font-black font-sm"> </div>
                            </div>

                        </div>
                        <div class="portlet-body form form-horizontal">
                            <p> Your password must have a minimum of 6 characters. We recomemended you chose an alphanumeric password.<span class=" font-green">E.g:password123</span></p>
                            <hr>
                            <div class="form-group">

                                <div class="col-md-12">
                                    <label class=" uppercase  "> Current password</label>

                                    <input type="text" class="form-control input-rounded"
                                           placeholder="Current Password"></div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase  "> New Password</label>

                                    <input type="text" class="form-control input-rounded"
                                           placeholder="New password"></div>
                                <div class="col-md-6">
                                    <label class=" uppercase  "> Confirm password</label>

                                    <input type="text" class="form-control input-rounded"
                                           placeholder="Confirm password"></div>
                            </div>
                            <hr>
                            <div class="form-group">

                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button type="button" class=" btn btn-default input-rounded"
                                                ng-click="">
                                            Cancel
                                        </button>&nbsp;<button type="button" class=" btn red input-rounded"
                                                               ng-click="">
                                        Change Password
                                    </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->
            <!-- END PAGE TOOLBAR -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->




        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>