<div class="page-content-wrapper page-content-wrapper1">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content1">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">

            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">
                <div style="color: red;text-align: center">{{message}}</div>

                <div class="col-md-12 ">

                    <div class="col-md-12 ">

                        <div class="portlet light border-rounded">
                            <div class="portlet-title">

                                <div class="caption ">
                                    <span class="vp-main">{{view.name}}</span><br>
                                    <!--<span class="vp-main-sub"> Profile created by parents</span>-->
                                </div>

                                <div class="actions" style="font-size: 20px">
                                    <i class="fa fa-ellipsis-v"></i>

                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="row ">
                                    <div class=" col-xs-12 col-sm-6 col-md-4 " style="text-align: center;line-height: 180px">
                                        <img style="height: 150px" ng-if="item.images.length > 0"
                                             ng-src="{{view.images[0]}}"/>
                                        <img style="height: 150px" ng-if="view.gender == 'male'"
                                             ng-src="/assets/defaultImages/male_card.jpg"/>
                                        <img style="height: 150px" ng-if="view.gender == 'female'"
                                             ng-src="/assets/defaultImages/female_card.jpg"/>                                    </div>
                                    <div class="col-xs-7 col-sm-6 col-md-6">
                                        <div class="row " style="">
                                            <table class="profile-table">
                                                <tbody style="padding: 20px!important;">
                                                <tr>
                                                    <td width="10%"></td>
                                                    <td width="5%"></td>
                                                    <td width="75%"></td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row"><i class="icon-user-follow"></i></td>
                                                    <td class="second-row">|</td>
                                                    <td class="third-row"><span ng-if="view.age != null && view.age != ''">{{view.age}} yrs,</span><span ng-if="view.height != null && view.height != ''"> {{view.height}} cms</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row"><i class="icon-book-open"></i></td>
                                                    <td class="second-row">|</td>
                                                    <td class="third-row"><span ng-if="view.mothertongue != null && view.mothertongue != ''">{{view.mothertongue}}</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row"><i class="icon-users"></i></td>
                                                    <td class="second-row">|</td>
                                                    <td class="third-row">{{view.caste}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row"><i class="fa fa-star"></i></td>
                                                    <td class="second-row">|</td>
                                                    <td class="third-row">{{view.star}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row"><i class="fa fa-graduation-cap"></i></td>
                                                    <td class="second-row">|</td>
                                                    <td class="third-row">{{view.education_detail}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row"><i class="fa fa-briefcase"></i></td>
                                                    <td class="second-row">|</td>
                                                    <td class="third-row">{{view.occupation}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="first-row"><i class="fa fa-map-marker"></i></td>
                                                    <td class="second-row">|</td>
                                                    <td class="third-row">{{view.city_name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>


                                        </div>

                                    </div>
                                    <div class="col-md-2 hidden-xs hidden-sm"></div>
                                </div>

                                <div class="row" ng-if="showAction">
                                    <div class="col-md-12 vp-sub-action">
                                        <span>Connect her with ?</span>
                                        <button class="btn red" ng-click="sendInterest()">YES</button>
                                        <button class="btn " ng-click="skipAction()">SKIP</button>
                                    </div>
                                </div>


                            </div>
                            <div class=" row vp-main-action">
                                <div style="text-transform: uppercase;text-align: center;">
                                    <a class="col-md-4 vp-main-link" ng-click="shortlist()"
                                            ><i
                                            class="fa fa-star-o"></i> Shortlist
                                    </a>
                                    <div class="col-md-4 vp-main-link"
                                            >
                                        <i class="fa fa-phone"></i> Call now
                                    </div>
                                    <div class="col-md-4 vp-main-link"
                                            ><i
                                            class="fa fa-commenting-o"></i> Chat now
                                    </div>


                                </div>
                            </div>

                        </div>

                        <div class="portlet light "
                             style="padding-top: 0px">

                            <div class=" row vp-main-action">
                                <div style="text-transform: uppercase;text-align: center;">
                                    <div class="col-md-6 vp-main-link2 "
                                         ng-class="{'active-link': viewType == 'personal'}"
                                         ng-click="selectType('personal')"
                                            > Personal Information
                                    </div>
                                    <div class="col-md-6 vp-main-link2"
                                         ng-class="{'active-link': viewType == 'partner'}"
                                         ng-click="selectType('partner')"> Parter Preferences
                                    </div>


                                </div>
                            </div>

                        </div>

                        <div ng-if="viewType == 'personal'">
                            <div class="portlet light border-rounded">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <!--<i class="icon-settings font-red-sunglo"></i>-->
                                        <span class=" uppercase"><i class="fa fa-pencil icon-color"></i>&nbsp; Few words about my <span ng-if="view.gender == 'male'">son</span><span ng-if="view.gender == 'female'">daughter</span></span>
                                    </div>

                                </div>
                                <div class="portlet-body form">
                                    <p> {{view.about}}</p>

                                </div>
                            </div>

                            <div class="portlet light border-rounded">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <span class=" uppercase"><i class=" fa fa-clone icon-color"></i> &nbsp;Basic Details</span>
                                    </div>

                                </div>
                                <div class="portlet-body form  form-horizontal">

                                    <div class="form-group">

                                        <div class="col-md-4"  style="height:60px">
                                            <label class="font-weight-head "> Age</label>

                                            <p class="details"><span ng-if="view.age !=null ||  view.age !=''">{{view.age}} Yrs</span>
                                                <span ng-if="view.age == null ||  view.age ==''">Not Specified</span></p>

                                        </div>

                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Height</label>

                                            <p class="details ">{{view.height}} cms</p>

                                        </div>

                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Weight</label>

                                            <p class="details ">{{view.weigh}} kg</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Body Type</label>

                                            <p class="details ">{{view.body_type}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Complexion</label>

                                            <p class="details ">Wheatish Brown</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Physical Type</label>

                                            <p class="details ">{{view.complexion}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Mother Tongue</label>

                                            <p class="details ">{{view.mothertongue}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Marital Status</label>

                                            <p class="details ">{{view.marital_status}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Eating Habits</label>

                                            <p class="details ">{{view.eating_habit}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Drinking Habits</label>

                                            <p class="details ">{{view.drinking_habit}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Somking Habits</label>

                                            <p class="details ">{{view.smoking_habit}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="portlet light border-rounded">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <span class=" uppercase"><i class=" fa fa-clone icon-color"></i> &nbsp;Religious Information</span>
                                    </div>

                                </div>
                                <div class="portlet-body form  form-horizontal">

                                    <div class="form-group">

                                        <div class="col-md-4" style="height:60px">
                                            <label class="font-weight-head "> Religion</label>

                                            <p class="details">{{view.religion}}</p>

                                        </div>

                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Caste /Sub caste</label>

                                            <p class="details ">{{view.caste}}</p>

                                        </div>

                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Gothram</label>

                                            <p class="details ">{{view.gothram}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Star / Rassi</label>

                                            <p class="details ">{{view.star}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Chevvai Dosham / Rassi</label>

                                            <p class="details ">{{view.dosham}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="portlet light border-rounded">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <span class=" uppercase"><i class=" fa fa-mortar-board icon-color"></i> &nbsp;Professional Information</span>
                                    </div>

                                </div>
                                <div class="portlet-body form  form-horizontal">

                                    <div class="form-group">

                                        <div class="col-md-4" style="height:60px">
                                            <label class="font-weight-head "> Education</label>

                                            <p class="details">{{view.education_detail}}</p>

                                        </div>

                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Occupation</label>

                                            <p class="details ">{{view.occupation}}</p>

                                        </div>

                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Annual Income</label>

                                            <p class="details ">{{view.income}}</p>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="portlet light border-rounded">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <span class=" uppercase"><i class=" fa fa-users icon-color"></i> &nbsp;Family Details</span>
                                    </div>

                                </div>
                                <div class="portlet-body form  form-horizontal">

                                    <div class="form-group" >

                                        <div class="col-md-4" style="height:60px">
                                            <label class="font-weight-head "> Family Values</label>

                                            <p class="details">{{view.family_values}}</p>

                                        </div>

                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Ancestral Origin</label>

                                            <p class="details ">{{view.ancestral_origin}}</p>

                                        </div>

                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Family Type</label>

                                            <p class="details ">{{view.family_type}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> No of Brother(s)</label>

                                            <p class="details ">{{view.brother}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Number of sister(s) </label>

                                            <p class="details ">{{view.sister}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Family Status</label>

                                            <p class="details ">{{view.family_status}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Father's Status </label>

                                            <p class="details ">{{view.father_status}}</p>

                                        </div>
                                        <div class="col-md-4" style="height:60px">
                                            <label class=" font-weight-head  "> Mother's Status </label>

                                            <p class="details ">{{view.mother_status}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet light border-rounded">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <span class=" uppercase"><i class=" fa fa-users icon-color"></i> &nbsp; About My Family</span>
                                    </div>

                                </div>
                                <div class="portlet-body form  form-horizontal">

                                    <div class="form-group">

                                        <div class="col-md-12">
                                            <p class="details">{{view.about_family}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div ng-if="viewType == 'partner'">
                            <div class="portlet light border-rounded">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <!--<i class="icon-settings font-red-sunglo"></i>-->
                                        <span class=" uppercase"><i class="fa fa-pencil icon-color"></i>&nbsp; Her Partenr preference</span>
                                    </div>

                                </div>
                                <div class="portlet-body form">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                    <div class="col-md-4 page">
                                    <div class="c100 p50 p12" style="border-radius: 60%!important;">
                                        <span>50%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    </div>
                                        <div class="col-md-4"></div>

                                    </div>

                                </div>

                                <div class="portlet-title">
                                    <div class="caption ">
                                        <!--<i class="icon-settings font-red-sunglo"></i>-->
                                        <span class=" uppercase"><i class="fa fa-pencil icon-color"></i>&nbsp; Basic Preference</span>
                                    </div>

                                </div>
                                <div class="portlet-body form">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <tbody>
                                            <tr>
                                                <td> Age </td>
                                                <td> {{pref.age_start}}<span ng-if="(pref.age_start != null && pref.age_start !='') && (pref.age_end != null && pref.age_end !='') "> - </span>{{pref.age_end}} <span ng-if="(pref.age_start != null && pref.age_start !='') || (pref.age_end != null && pref.age_end !='') "> Yrs </span>  </td>
                                            </tr>
                                            <tr>
                                                <td> Height </td>
                                                <td> {{pref.height_start}}<span ng-if="(pref.height_start != null && pref.height_start !='') && (pref.height_end != null && pref.height_end !='') ">-</span>{{pref.height_end}} <span ng-if="(pref.height_start != null && pref.height_start !='') || (pref.height_end != null && pref.height_end !='') ">cms</span> </td>
                                            </tr>
                                            <tr>
                                                <td> Physical Type </td>
                                                <td> {{pref.physical_status}} </td>
                                            </tr>
                                            <tr>
                                                <td> Mother Tongue </td>
                                                <td> {{pref.mothertongue_txt}} </td>
                                            </tr>
                                            <tr>
                                                <td> Marital Status </td>
                                                <td> {{pref.marital_status}} </td>
                                            </tr>
                                            <tr>
                                                <td> Eating Habits </td>
                                                <td> {{pref.eating_habits}} </td>
                                            </tr>
                                            <tr>
                                                <td> Drinking Habits </td>
                                                <td> {{pref.drinking_habits}} </td>
                                            </tr>
                                            <tr>
                                                <td> Smoking Habits </td>
                                                <td> {{pref.smoking_habits}} </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <!--<i class="icon-settings font-red-sunglo"></i>-->
                                        <span class=" uppercase"><i class="fa fa-pencil icon-color"></i>&nbsp; Religious Preference</span>
                                    </div>

                                </div>
                                <div class="portlet-body form">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <tbody>
                                            <tr>
                                                <td> Religion </td>
                                                <td> {{pref.religion_txt}} </td>
                                            </tr>
                                            <tr>
                                                <td> Caste </td>
                                                <td> {{pref.caste}} </td>
                                            </tr>


                                            <tr>
                                                <td> Gothram </td>
                                                <td> {{pref.gothram}}</td>
                                            </tr>
                                            <tr>
                                                <td> Star </td>
                                                <td> {{pref.star}} </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <!--<i class="icon-settings font-red-sunglo"></i>-->
                                        <span class=" uppercase">
                                            <i class="fa fa-pencil icon-color"></i>&nbsp; Education & Profession Preference</span>
                                    </div>

                                </div>
                                <div class="portlet-body form">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <tbody>
                                            <tr>
                                                <td> Education </td>
                                                <td> {{pref.education}} </td>
                                            </tr>
                                            <tr>
                                                <td> Occupation </td>
                                                <td> {{pref.occupation}} </td>
                                            </tr>
                                            <tr>
                                                <td> Annual Income </td>
                                                <td> {{pref.income}}  </td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <!--<i class="icon-settings font-red-sunglo"></i>-->
                                        <span class=" uppercase">
                                            <i class="fa fa-pencil icon-color"></i>&nbsp; Location & Citizenship Preference</span>
                                    </div>

                                </div>
                                <div class="portlet-body form">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <tbody>
                                            <tr>
                                                <td> Country </td>
                                                <td> {{pref.country_name}} </td>
                                            </tr>
                                            <tr>
                                                <td> Residing State </td>
                                                <td> {{pref.state_name}} </td>
                                            </tr>
                                            <tr>
                                                <td> Residing City </td>
                                                <td> {{pref.city_name}}  </td>
                                            </tr>
                                            <tr>
                                                <td> Citizenship </td>
                                                <td> {{prefnationality_txt}}</td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <!--<i class="icon-settings font-red-sunglo"></i>-->
                                        <span class=" uppercase">
                                            <i class="fa fa-pencil icon-color"></i>&nbsp; What We are looking for</span>
                                    </div>

                                </div>
                                <div class="portlet-body form">
<p>
   {{pref.about_partner}}

</p>                                </div>
                            </div>


                        </div>

                </div>
                <!-- END PAGE TITLE -->

            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->


            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
