.login-toolbar{
    margin: 15px!important;

}
.modal{
    margin-top: 10%;
}
html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}
.row {
    padding-right: 0px;
    margin-right: 0px;
}


.page-loading-hidden {
    display: none !important;
    visibility: hidden !important;
}
.page-loading{
    margin-left: -115px!important;
}


.page-grey-color{
    filter: grayscale(80%)!important;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    border-radius: 20px!important;
    text-decoration: none;
    color: grey;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination .active>a, .pagination .active>a:hover {
    background: red!important;
    border-color: grey;
    color: #333;
}



