<div class="col-md-12">
    <div class="portlet light form-fit bordered col-md-offset-6 col-md-5 margin-top-30 reg-pannel">
        <div class="portlet-title reg-pannel-title">
            <div class="caption">
                <span class="caption-subject  font-black bold uppercase">Registration</span>

                <div class="caption-helper font-black font-sm">Please take a moment to complete all of the information
                    below.
                </div>
            </div>

        </div>
        <div class="portlet-body form" style="padding: 20px">
            <!-- BEGIN FORM-->
            <form name="regForm" class="form-horizontal  ">
                <br>

                <div class="row" style="color: red;text-align: center;margin: 20px">
                    {{message}}
                </div>

                <div class="form-group padding-20">
                    <label class="col-md-3 control-label text-left">PROFILE FOR</label>

                    <div class="col-md-8">
                        <select class="form-control input-rounded" ng-model="reg.profile_for">
                            <option value="" ng-selected="true" selected="selected">Select</option>
                            <option value="myself">My self</option>
                            <option value="daughter">Daughter</option>
                            <option value="son">Son</option>
                            <option value="brother">Brother</option>
                            <option value="sister">Sister</option>
                            <option value="relative">Relative</option>
                            <option value="friend">Friend</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label text-left ">NAME <span style="color: red">*</span></label>

                    <div class="col-md-8">
                        <input type="text" required class="form-control  input-rounded" placeholder="Name" ng-model="reg.name">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">GENDER</label>

                    <div class="col-md-8 margin-right-30">
                            <div class="col-md-4">

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="radio" icheckbox_flat-red class="icheck " ng-model="reg.gender"
                                               name="gender" value="male">
                                        Male
                                    </label>


                            </div>
                            <div class="col-md-8">
                                <label class="checkbox-inline" class="custon-text">
                                    <input type="radio"  icheckbox_flat-red class="icheck "  ng-model="reg.gender"
                                           name="gender" value="female">
                                    Female
                                </label>


                        </div>

                        <!--<div >-->

                        <!--<input type="email" class="form-control" placeholder="Email Address">-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">DATE OF BIRTH<span style="color: red">*</span></label>

                    <div class="col-md-8">
                        <input type="date" required class="form-control input-rounded" ng-model="reg.dob" placeholder="Date of Birth">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label ">RELIGION<span style="color: red">*</span></label>


                    <div class="col-md-8">
                        <select class="form-control input-rounded "
                                ng-model="reg.religion" required>
                            <option ng-repeat="obj in religonList" value="{{obj.id_religion}}">{{obj.religion}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">EMAIL<span style="color: red">*</span></label>

                    <div class="col-md-8">
                        <input type="email" ng-model="reg.email" required class="form-control input-rounded" placeholder="Email Address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">MOBILE NUMBER<span style="color: red">*</span></label>

                    <div class="col-md-3">
                        <select class="form-control input-rounded" required ng-model="reg.code">
                            <option>+ 91</option>
                            <option>+ 04</option>
                            <option>+ 90</option>
                            <option>+ 54</option>
                            <option>+ 65</option>
                        </select>
                    </div>

                    <div class="col-md-5">
                        <input type="number" required class="form-control input-rounded" ng-model="reg.mobile" placeholder="Mobile Number">
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label">PASSWORD<span style="color: red">*</span></label>

                    <div class="col-md-8">
                        <input required type="password" class="form-control input-rounded" ng-model="reg.password" placeholder="Password"
                               style="margin-rightt: 5%">
                    </div>
                </div>


                <!--<div class="form-group">-->
                <!--<label class="col-md-3 control-label">PASSWORD</label>-->

                <!--<div class="col-md-offset-1 col-md-7 input-group">-->
                <!--<input type="email" class="form-control" placeholder="Email Address"></div>-->
                <!--</div>-->

                <!--<span class="help-inline"> Inline help. </span>-->
                <div class="form-group ">
                    <label class="col-md-3 control-label"></label>

                    <div class="col-md-8">
                        <button ng-disabled="regForm.$invalid" type="button" class=" center-block col-md-12 btn red input-rounded"
                                ng-click="vm.registerCandidate()">
                            Registration
                        </button>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>

</div>

<!--<div class="row text-center">-->
<!--<button type="button" class="btn green" ng-click="vm.open()">Login</button>-->


<!--</div>-->

<script type="text/ng-template" id="myModalContent.html">
    <form name="loginForm">

    <div class="modal-header login-pannel-title">
        <div class="caption">
            <span class="caption-subject  font-black bold uppercase">Sign In</span></div>
    </div>
    <!--<div class="pull-right"><i class="close green"></i></div>-->
   <div class="col-md-12" style="text-align: center;color:red;padding:20px">{{message}}</div>

    <div class="modal-body" id="modal-body">

        <div class="form-group">
            <label class=" uppercase">Email / Mobile Number / Member Id</label>
            <input class="form-control spinner input-rounded" type="text"
                   placeholder="Email / Mobile Number / Member ID" ng-model="login.username" required/>
        </div>
        <div class="form-group">
            <label class=" uppercase"> Password</label>
            <input required class="form-control spinner input-rounded" type="password" ng-model="login.password" placeholder="Password"/>
        </div>
        <div class="form-group">
            <label class="checkbox-inline" class="custon-text">
                <input type="checkbox" icheckbox_flat-red class="icheck "> Remember me</label>
            <label class="pull-right"><a href="" class="font-red-mint"> Forgot your password?</a></a></label>
        </div>
    </div>


    </div>
    <div class="modal-footer login-modal-footer">
        <div>
            <button ng-disabled="loginForm.$invalid" type="button" class=" center-block col-md-5 btn red input-rounded" ng-click="vm.ok(login)">
                Sign in
            </button>
            <button type="button" class=" center-block col-md-5 btn btn-default input-rounded" ng-click="vm.cancel()">
                Cancel
            </button>
        </div>
        <div>
            <label class="pull-left custon-text"> Don't have an account? &nbsp;<a href="" class="font-red-mint"
                                                                                 ng-click="vm.cancel()"> Sign up
                here</a></label>

        </div>


        <!--<button class="btn btn-primary" type="button" ng-click="vm.ok()">Save</button>-->
        <!--<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>-->
    </div>
        </form>
</script>