
.reg-pannel {
    border-radius: 10px 10px 10px 10px !important;
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;

}

.reg-pannel-title {
    background-color: #f2f7fa;
    border-radius: 10px 10px 0px 0px !important;
}

.input-rounded {
    border-radius: 4px 4px 4px 4px !important
}

.login-pannel-title {
    background-color: #f2f7fa;
    border-radius: 10px 10px 0px 0px !important;

}

.login-modal {
    border-radius: 10px 10px 10px 10px !important;
    border: hidden !important;
}

.sub-text {
    color: #b7b7b7
}

#b7b7b7
.custom-text {
    color: #8b8b8b
}

.registration-details {
    background-color: #fefefe !important;
}

.font-weight {
    font-weight: 600;
    font-size: 11px;
    color: #363636 !important;
}