<div class="page-sidebar-wrapper section-background">
    <div class="page-sidebar navbar-collapse collapse" style="border-radius: 10px;margin-left:20px">
        <div class="row">
            <div class="col-md-12">
                <ul class="page-sidebar-menu menu-panel   " data-keep-expanded="false"
                    data-auto-scroll="true" data-slide-speed="200">


                    <li class="nav-item  active open">
                        <ul class="sub-menu">
                            <li class="nav-item nav-header">
                                <span class=""><span class="nav-header-text">Discover Matches</span></span>
                            </li>
                            <li class="nav-item  active open">
                                <ul class="sub-menu">
                                    <li class="nav-item nav-header">
                                        <div class="row">
                                            <div class="col-md-12">
                                            <span class="" ng-click="openLocationPreference()"><span
                                                    class="nav-header-section-text">Prefered Location
                                        <i class="pull-right fa"
                                           ng-class="{'fa-angle-down': openLocation, 'fa-angle-right': !openLocation}"></i>
                                        </span>
                                        </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row" ng-show="openLocation">
                                            <div class="col-md-12 margin-top-10 margin-bottom-10">
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            View All <span class="profile-id">(500)</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="col-md-1"></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-header">
                                        <div class="row">
                                            <div class="col-md-12">
                                            <span class="" ng-click="openProfessionPreference()"><span
                                                    class="nav-header-section-text">Prefered Profession
                                        <i class="pull-right fa"
                                           ng-class="{'fa-angle-down': openProfession, 'fa-angle-right': !openProfession}"></i>
                                        </span>
                                        </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row" ng-show="openProfession">
                                            <div class="col-md-12 margin-top-10 margin-bottom-10">
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            View All <span class="profile-id">(500)</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="col-md-1"></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-header">
                                        <div class="row">
                                            <div class="col-md-12">
                                            <span class="" ng-click="openEducationPreference()"><span
                                                    class="nav-header-section-text">Prefered Education
                                        <i class="pull-right fa"
                                           ng-class="{'fa-angle-down': openEducation, 'fa-angle-right': !openEducation}"></i>
                                        </span>
                                        </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row" ng-show="openEducation">
                                            <div class="col-md-12 margin-top-10 margin-bottom-10">
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            View All <span class="profile-id">(500)</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="col-md-1"></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-header">
                                        <div class="row">
                                            <div class="col-md-12">
                                            <span class="" ng-click="openStarsPreference()"><span
                                                    class="nav-header-section-text">Compatable stars
                                        <i class="pull-right fa"
                                           ng-class="{'fa-angle-down': openstars, 'fa-angle-right': !openstars}"></i>
                                        </span>
                                        </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row" ng-show="openstars">
                                            <div class="col-md-12 margin-top-10 margin-bottom-10">
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            View All <span class="profile-id">(500)</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="col-md-1"></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-header">
                                        <div class="row">
                                            <div class="col-md-12">
                                            <span class="" ng-click="openFamilyValuesPreference()"><span
                                                    class="nav-header-section-text">Family Values
                                        <i class="pull-right fa"
                                           ng-class="{'fa-angle-down': openFamilyValues, 'fa-angle-right': !openFamilyValues}"></i>
                                        </span>
                                        </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row" ng-show="openFamilyValues">
                                            <div class="col-md-12 margin-top-10 margin-bottom-10">
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class=" col-xs-3 col-sm-3 col-md-4 ">
                                                                <img class="imgae-circle spacer"
                                                                     ng-src="../assets/images/prof1.jpg"/>
                                                            </div>
                                                            <div class="col-md-1 hidden-xs hidden-sm"></div>
                                                            <div class="col-xs-8 col-sm-8 col-md-7">
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                        <span><span class="profile-name">Priya Renjini</span>&nbsp;<span
                                                                class="profile-id"> (PD12345)</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            25,5.3cms,Tamil,Hindu,Manal Tamilnadu, India
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            Send intrest
                                                                        </span>
                                                                        <hr/>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="col-md-12">
                                                                        <span class="send-intrest">
                                                                            View All <span class="profile-id">(500)</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<div class="col-md-1"></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">

                            </li>

                        </ul>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->
</div>