.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #e9ecf3 !important;
}

.imgae-circle {
    height: 70px;
    width: 70px;
    border-radius: 50px !important;

}

.spacer {
    margin-left: 10px
}

.profile-name {
    color: black;
    font-weight: 600;
    font-size: 11px;
}

.profile-id {
    font-size: 12px;
    color: #898989;
}

.account-type {
    font-size: 10px;
}

.nav-footer {
    background-color: #F9FAFC;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    padding-top: 5px !important;
}

.nav-header {
    background-color: #F9FAFC !important;
    height: 37px !important;
    padding: 9px 14px 9px 30px !important;
}
.nav-header-text{
    font-size: 14px;
    font-weight: 500;
}

.cuurent-account {
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.title{
    text-transform: uppercase;
}
.send-intrest{
    color: red;
    font-weight: 500;
    font-size: 13px;
}
.menu-panel{
    background-color: white;
}
.panel-top-space{
    margin-top: 20px !important;
}
.profile-details{
    color: #555;
    font-size: 10px;
}
hr {
    margin: 10px 0 !important;
}