<div class="row" ng-if="showLink" style="text-align: right;color: red">
    <a style="text-align: right;color: red" ng-click="showCon()">{{commulen}}+ Conversations</a>
</div>

<span ng-repeat="obj in mail.received | limitTo: reclen">
                        <div class="row">
                            <!--<div class="col-md-12 notification-style uppercase">Received</div>-->

                            <div class="col-md-12 notification-details"> {{obj.content}}</div>
                            <div class="col-md-12 notification-details"> {{obj.response}}</div>

                        </div>
                                                        <hr>

</span>

<span  ng-repeat="obj in mail.sent | limitTo: sentlen">
                        <div class="row">
                            <!--<div class="col-md-12 notification-style uppercase">Sent</div>-->

                            <!--<div class="col-md-12 notification-style uppercase">REQUEST SENT</div>-->

                            <div class="col-md-12 notification-details"> {{obj.content}}</div>
                            <div class="col-md-12 notification-details"> {{obj.response}}</div>

                        </div>
                                                        <hr>

</span>
