<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">

            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="col-md-12 ">
                        <div class="portlet light bordered">
                            <div class="portlet-body form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span class="profile-completeness-heading"> Profile Completeness</span>
                                            </div>
                                            <div class="col-md-6">
                                                <uib-progressbar class="profile-progress-bar" animate="true"
                                                                 value="value"
                                                                 type="success"><b>{{value}}%</b></uib-progressbar>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="col-md-12 margin-top-10">
                                        <div class="row">
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                        <span ng-class="isFirstMessage()?'notification-navigator-disabled':'notification-navigator'">
                                             <i class="fa fa-angle-left " ng-click="loadPreviosMessage()"></i>
                                        </span>

                                            </div>
                                            <div class="hidden-md hidden-lg col-sm-1 col-xs-1"></div>
                                            <div class="col-md-10 col-sm-8 col-xs-8">
                                                <span>
                                                <b>{{messages[messageIndex].message}}</b>
                                                </span>

                                            </div>
                                            <div class="hidden-md hidden-lg col-sm-1 col-xs-1"></div>
                                            <div class="col-md-1 col-sm-1 col-xs-1">
                                    <span ng-class="isLastMessage()?'notification-navigator-disabled':'notification-navigator'">
                                             <i class="fa fa-angle-right " ng-click="loadNextMessage()"></i>
                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 margin-top-20">
                                        <div class="text-center">
                                            <button class="btn red btn-lg alert-button" type="button">
                                                Add Details
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12 " ng-if="recentUpdated.matches.length > 0">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">

                                <div class="caption ">
                                    <span class="caption-subject"> Recently Updated</span>
                                </div>

                                <div class="actions">
                                    <div class="row">
                                        <div class="col-md-12 page-action-navigation">

                                            <span class="paginate-message"> View all</span>
                                            <i class="fa fa-angle-left "></i>
                                            <i class="fa fa-angle-right "></i>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="row" ng-repeat="item in recentUpdated.matches">
                                    <div class=" col-xs-3 col-sm-3 col-md-2 ">
                                        <img class="imgae-circle"
                                             ng-src="../assets/images/prof1.jpg"/>
                                    </div>
                                    <div class="col-xs-1 col-sm-1 hidden-md hidden-lg"></div>
                                    <div class="col-xs-7 col-sm-7 col-md-6">

                                        <div class="row ">
                                            <div class="col-md-12">
                                                        <span><a ui-sref="viewProfile" class="profile-name">{{item.name}}</a>&nbsp;<span
                                                                class="profile-id"> ({{item.id_people}})</span></span>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            {{item.age}},<span ng-if="item.height != null">{{item.height}}cms</span>,{{item.mothertongue}},{{item.caste}},{{item.star}} ,
                                                                            {{item.state_name}}, {{item.country_name}}
                                                                        </span>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div style="margin-top:20px"><a
                                                        style="font-size:13px;color: red;margin-right: 20px"> Send
                                                    Interest</a><a style="font-size:13px;color: red"> View Profile</a>
                                                </div>

                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 hidden-xs hidden-sm"></div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 " ng-if="newMatches.matches.length > 0">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption ">
                                    <span class="caption-subject  "> New Matches</span>
                                </div>
                                <div class="actions">
                                    <div class="row">
                                        <div class="col-md-12 page-action-navigation">

                                            <span class="paginate-message"> View all</span>
                                            <i class="fa fa-angle-left "></i>
                                            <i class="fa fa-angle-right "></i>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="row" ng-repeat="item in newMatches.matches">
                                    <div class=" col-xs-3 col-sm-3 col-md-2 ">
                                        <img ng-if="item.images.length > 0" class="imgae-circle"
                                             ng-src="{{item.images[0]}}"/>
                                        <img ng-if="item.gender == 'male'" class="imgae-circle"
                                             ng-src="/assets/defaultImages/male_card.jpg"/>
<img ng-if="item.gender == 'female'" class="imgae-circle"
                                             ng-src="/assets/defaultImages/female_card.jpg"/>
                                    </div>
                                    <div class="col-xs-1 col-sm-1 hidden-md hidden-lg"></div>
                                    <div class="col-xs-7 col-sm-7 col-md-6">

                                        <div class="row ">
                                            <div class="col-md-12">
                                                        <span><a ui-sref="viewProfile" class="profile-name">{{item.name}}</a>&nbsp;<span
                                                                class="profile-id"> ({{item.id_people}})</span></span>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            {{item.age}},<span ng-if="item.height != null">{{item.height}}cms</span>,{{item.mothertongue}},{{item.caste}},{{item.star}} ,
                                                                            {{item.state_name}}, {{item.country_name}}
                                                                        </span>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div style="margin-top:20px"><a
                                                        style="font-size:13px;color: red;margin-right: 20px"> Send
                                                    Interest</a><a style="font-size:13px;color: red"> View Profile</a>
                                                </div>

                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 hidden-xs hidden-sm"></div>
                                </div>



                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 " ng-if="viewed.matches.length > 0">
                        <!-- BEGIN SAMPLE FORM PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption ">
                                    <span class="caption-subject  ">Who viewed my Profile</span>
                                </div>
                                <div class="actions">
                                    <div class="row">
                                        <div class="col-md-12 page-action-navigation">

                                            <span class="paginate-message"> View all</span>
                                            <i class="fa fa-angle-left "></i>
                                            <i class="fa fa-angle-right "></i>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="row" ng-repeat="item in viewed.matches">
                                    <div class=" col-xs-3 col-sm-3 col-md-2 ">
                                        <img ng-if="item.images.length > 0" class="imgae-circle"
                                             ng-src="{{item.images[0]}}"/>
                                        <img ng-if="item.gender == 'male'" class="imgae-circle"
                                             ng-src="/assets/defaultImages/male_card.jpg"/>
                                        <img ng-if="item.gender == 'female'" class="imgae-circle"
                                             ng-src="/assets/defaultImages/female_card.jpg"/>
                                    </div>
                                    <div class="col-xs-1 col-sm-1 hidden-md hidden-lg"></div>
                                    <div class="col-xs-7 col-sm-7 col-md-6">

                                        <div class="row ">
                                            <div class="col-md-12">
                                                        <span><a ui-sref="viewProfile" class="profile-name">{{item.name}}</a>&nbsp;<span
                                                                class="profile-id"> ({{item.id_people}})</span></span>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                                        <span class="profile-details">
                                                                            {{item.age}},<span ng-if="item.height != null">{{item.height}}cms</span>,{{item.mothertongue}},{{item.caste}},{{item.star}} ,
                                                                            {{item.state_name}}, {{item.country_name}}
                                                                        </span>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div style="margin-top:20px"><a
                                                        style="font-size:13px;color: red;margin-right: 20px"> Send
                                                    Interest</a><a style="font-size:13px;color: red"> View Profile</a>
                                                </div>

                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 hidden-xs hidden-sm"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- END PAGE TITLE -->

            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->


            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>