.main-heading{
    /*float: left;*/
    color:white;
    display: block;
    width: 100%;
    height: 35px!important;
    padding-left: 20px;
    font-size: 20px;
}

.main-heading-actions{
    /*float: left;*/
    color:white;
    padding: 0;
    height: 35px!important;
    margin-left: 15px;
}

@media screen and (max-width: 1900px) {
    .main-heading-actions{
        font-size: 10px;
    }

}
@media screen and (max-width: 600px) {
    .main-heading-actions{
        font-size: 7px;
    }

}

.main-tool-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333;
    font-weight: bold;
    font-size: 12px;
}
.main-tool-link > li a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    height: 45px;
    padding: 25px 8px;
    text-decoration: none;
}

.activetoolbar{
    border-bottom:4px solid white;
}