<div class="modal-header">
    <h4 class="modal-title" id="modal-title" style="color: #4cbcac;">
        <b>Payment </b>
        <button class=" pull-right btn btn-circle btn-icon-only default" type="button" ng-click="$ctrl.cancel()"><i
                class="fa fa-times"></i></button>
    </h4>
</div>

<div class="modal-body">
    <div class="row" style="margin: 20px">
        <div class="col-md-4">
            <img  style="height: 90px;width: 90px;border-radius: 55% !important;"
                 ng-src="{{$ctrl.items.img}}" />
                    </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <span class="bold">{{$ctrl.items.name}}</span> <span> ({{$ctrl.items.id}})</span>
                </div>
                <div class="col-md-12" style="margin-top: 25px">
                    <button type="button" class=" uppercase btn red input-rounded" ng-click="$ctrl.upgrade()">
                        Upgrade Now
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-12" style="color: grey">
            To know more about packages call now 9999999999
        </div>


    </div>
</div>