<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse" style="border-radius: 10px">
        <ul class="page-sidebar-menu   " style="background-color: white" data-keep-expanded="false"
            data-auto-scroll="true" data-slide-speed="200">


            <li class="nav-item  active open">
                <ul class="sub-menu settingnav">
                    <li style="background-color:#e8e6e8;height:37px;padding: 9px 14px 9px 30px;" class="nav-item ">
                        <span><b>Matches</b></span>
                    </li>
                    <li ng-class="{ activateSettingNavBar: isActive('/settings')}">
                        <div style="margin: 20px" class="matches ">
                            <div>New matches</div>
                            <div>Profiles yet to be viewed <span> (118)</span></div>
                            <div>Profiles viewed & not<span> (18)</span></div>
                            <div>Contacted matches <span> (35)</span></div>
                            <div>Mutal matches <span> (40)</span></div>
                            <div>Shortlisted matches <span> (6)</span></div>
                        </div>

                    </li>


                </ul>
            </li>
        </ul>

        <ul class="page-sidebar-menu   " style="background-color: white" data-keep-expanded="false"
            data-auto-scroll="true" data-slide-speed="200">


            <li class="nav-item  active open">
                <ul class="sub-menu settingnav">
                    <li style="background-color:#e8e6e8;height:37px;padding: 9px 14px 9px 30px;" class="nav-item "
                        id="inbox">
                        <span><b>Refine Search</b></span>
                    </li>
                    <li class="nav-item " style="text-align: center">


                        <!--<div class="input-group" style="width: 75%;margin: 25px; ">-->
                        <!--<input type="text" class="form-control input-rounded-pratial-left" placeholder="Enter ID">-->
                        <!--<span class="input-group-btn">-->
                        <!--<button class="btn red input-rounded-pratial-right"-->
                        <!--type="button">Go-->
                        <!--</button>-->
                        <!--</span>-->
                        <!--</div>-->
                        <div style="margin: 20px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-left refined-search-header">Age</span>
                                        </div>
                                    </div>
                                    <div class="row refined-search-area">
                                        <div class="col-md-4 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12 margin-top-10">
                                                    <select class="custom-form-control" ng-model="age.start">
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                        <option value="32">32</option>
                                                        <option value="33">33</option>
                                                        <option value="34">34</option>
                                                        <option value="35">35</option>
                                                        <option value="36">36</option>
                                                        <option value="37">37</option>
                                                        <option value="38">38</option>
                                                        <option value="39">39</option>
                                                        <option value="40">40</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12 margin-top-10">
                                                    <select class="custom-form-control" ng-model="age.end">
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                        <option value="32">32</option>
                                                        <option value="33">33</option>
                                                        <option value="34">34</option>
                                                        <option value="35">35</option>
                                                        <option value="36">36</option>
                                                        <option value="37">37</option>
                                                        <option value="38">38</option>
                                                        <option value="39">39</option>
                                                        <option value="40">40</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12 margin-top-10">
                                                    <button type="button"
                                                            class="pull-left btn btn-sm btn-outline custom-button"><span
                                                            class="btn-label-text" ng-click="agefilter()">Submit</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 margin-top-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-left refined-search-header">Height</span>
                                        </div>
                                    </div>
                                    <div class="row refined-search-area">
                                        <div class="col-md-4 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12 margin-top-10">
                                                    <select class="custom-form-control">
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12 margin-top-10">
                                                    <select class="custom-form-control">
                                                        <option>18</option>
                                                        <option>19</option>
                                                        <option>20</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12 margin-top-10">
                                                    <button type="button"
                                                            class="pull-left btn btn-sm btn-outline custom-button"><span
                                                            class="btn-label-text">Submit</span></button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr/>
                            </div>
                            <div class="row">
                                <div class="col-md-12 margin-top-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-left refined-search-header">Martial status</span>
                                        </div>
                                    </div>
                                    <div class="row refined-search-area">
                                        <div class="col-md-12 margin-top-10 margin-bottom-10">
                                            <div ng-repeat="mstatus in martialStatus" class="row">
                                                <div class="col-md-12">
                                            <span ng-if="(!showFirstmartialStatus && $index == 0) || showFirstmartialStatus" class="pull-left refined-search-sub-label">
                                                {{mstatus.name}} (<span class="refined-search-sub-label-count">{{mstatus.count}}</span>)
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 margin-bottom-10">
                                            <div class="row">
                                            <div class="col-md-12">
                                                <span class="show-more-less pull-left" ng-click="showMoreMStatus()" ng-if="!showFirstmartialStatus">More</span>
                                                <span class="show-more-less pull-left" ng-click="showMoreMStatus()" ng-if="showFirstmartialStatus">Less</span>
                                            </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 margin-top-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-left refined-search-header">Mother Tongue</span>
                                        </div>
                                    </div>
                                    <div class="row refined-search-area">
                                        <div class="col-md-12 margin-top-10 margin-bottom-10">
                                            <div ng-repeat="obj in languages" class="row">
                                                <div class="col-md-12">
                                            <span ng-if="(!showFirstLanguage && $index == 0) || showFirstLanguage" class="pull-left refined-search-sub-label">
                                                {{obj.name}} (<span class="refined-search-sub-label-count">{{obj.count}}</span>)
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="show-more-less pull-left" ng-click="showMoreLanguage()" ng-if="!showFirstLanguage">More</span>
                                                    <span class="show-more-less pull-left" ng-click="showMoreLanguage()" ng-if="showFirstLanguage">Less</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 margin-top-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-left refined-search-header">Division</span>
                                        </div>
                                    </div>
                                    <div class="row refined-search-area">
                                        <div class="col-md-12 margin-top-10 margin-bottom-10">
                                            <div ng-repeat="obj in divisions" class="row">
                                                <div class="col-md-12">
                                            <span ng-if="(!showDivisions && $index == 0) || showDivisions" class="pull-left refined-search-sub-label">
                                                {{obj.name}} (<span class="refined-search-sub-label-count">{{obj.count}}</span>)
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="show-more-less pull-left" ng-click="showMoreDivisions()" ng-if="!showDivisions">More</span>
                                                    <span class="show-more-less pull-left" ng-click="showMoreDivisions()" ng-if="showDivisions">Less</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 margin-top-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-left refined-search-header">Stars</span>
                                        </div>
                                    </div>
                                    <div class="row refined-search-area">
                                        <div class="col-md-12 margin-top-10 margin-bottom-10">
                                            <div ng-repeat="obj in stars" class="row">
                                                <div class="col-md-12">
                                            <span ng-if="(!showStars && $index == 0) || showStars" class="pull-left refined-search-sub-label">
                                                {{obj.name}} (<span class="refined-search-sub-label-count">{{obj.count}}</span>)
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="show-more-less pull-left" ng-click="showMoreStars()" ng-if="!showStars">More</span>
                                                    <span class="show-more-less pull-left" ng-click="showMoreStars()" ng-if="showStars">Less</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 margin-top-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-left refined-search-header">Education</span>
                                        </div>
                                    </div>
                                    <div class="row refined-search-area">
                                        <div class="col-md-12 margin-top-10 margin-bottom-10">
                                            <div ng-repeat="obj in stars" class="row">
                                                <div class="col-md-12">
                                            <span ng-if="(!showStars && $index == 0) || showStars" class="pull-left refined-search-sub-label">
                                                {{obj.name}} (<span class="refined-search-sub-label-count">{{obj.count}}</span>)
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="show-more-less pull-left" ng-click="showMoreStars()" ng-if="!showStars">More</span>
                                                    <span class="show-more-less pull-left" ng-click="showMoreStars()" ng-if="showStars">Less</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 margin-top-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-left refined-search-header">Employed in</span>
                                        </div>
                                    </div>
                                    <div class="row refined-search-area">
                                        <div class="col-md-12 margin-top-10 margin-bottom-10">
                                            <div ng-repeat="obj in stars" class="row">
                                                <div class="col-md-12">
                                            <span ng-if="(!showStars && $index == 0) || showStars" class="pull-left refined-search-sub-label">
                                                {{obj.name}} (<span class="refined-search-sub-label-count">{{obj.count}}</span>)
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="show-more-less pull-left" ng-click="showMoreStars()" ng-if="!showStars">More</span>
                                                    <span class="show-more-less pull-left" ng-click="showMoreStars()" ng-if="showStars">Less</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 margin-top-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-left refined-search-header">Occupassion</span>
                                        </div>
                                    </div>
                                    <div class="row refined-search-area">
                                        <div class="col-md-12 margin-top-10 margin-bottom-10">
                                            <div ng-repeat="obj in stars" class="row">
                                                <div class="col-md-12">
                                            <span ng-if="(!showStars && $index == 0) || showStars" class="pull-left refined-search-sub-label">
                                                {{obj.name}} (<span class="refined-search-sub-label-count">{{obj.count}}</span>)
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 margin-bottom-10">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span class="show-more-less pull-left" ng-click="showMoreStars()" ng-if="!showStars">More</span>
                                                    <span class="show-more-less pull-left" ng-click="showMoreStars()" ng-if="showStars">Less</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>