<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="margin-left: 0px!important;">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">

            <!-- BEGIN PAGE BASE CONTENT -->


            <div class="row">
                <div style="color: red;text-align: center;margin-bottom: 20px">{{message}}</div>

                <div class="col-md-12 ">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light bordered border-rounded">
                        <div class="portlet-title">
                            <div class="caption ">
                                <!--<i class="icon-settings font-red-sunglo"></i>-->
                                <span class="caption-subject bold uppercase"> Regular Search</span>
                            </div>

                        </div>


                        <div class="portlet-body form form-horizontal">
                            <div class="form-group">

                                <div class="col-md-2">

                                    <label class=" uppercase font-weight "> Age</label>


                                    <select class="form-control input-rounded " ng-model="regular.age_start">
                                        <option ng-selected ="regular.age_start == 18" ng-value="18">18</option>
                                        <option ng-selected ="regular.age_start == 19" value="19">19</option>
                                        <option ng-selected ="regular.age_start == 20" value="20">20</option>
                                        <option ng-selected ="regular.age_start == 21" value="21">21</option>
                                        <option ng-selected ="regular.age_start == 22" value="22">22</option>
                                        <option ng-selected ="regular.age_start == 23" value="23">23</option>
                                        <option ng-selected ="regular.age_start == 24" value="24">24</option>
                                        <option ng-selected ="regular.age_start == 25" value="25">25</option>
                                        <option ng-selected ="regular.age_start == 26" value="26">26</option>
                                        <option ng-selected ="regular.age_start == 26" value="27">27</option>
                                        <option ng-selected ="regular.age_start == 27" value="28">28</option>
                                        <option ng-selected ="regular.age_start == 28" value="29">29</option>
                                    </select>

                                </div>
                                <div class="col-md-2">
                                    <label class=" uppercase font-weight "> &nbsp;</label>

                                    <select placeholder="select" class="form-control input-rounded " ng-model="regular.age_end">
                                        <option ng-selected="regular.age_end == 18" ng-value="18">18</option>
                                        <option ng-selected="regular.age_end == 19" value="19">19</option>
                                        <option ng-selected="regular.age_end == 20" value="20">20</option>
                                        <option ng-selected="regular.age_end == 21" value="21">21</option>
                                        <option ng-selected="regular.age_end == 22" value="22">22</option>
                                        <option ng-selected="regular.age_end == 23" value="23">23</option>
                                        <option ng-selected="regular.age_end == 24" value="24">24</option>
                                        <option ng-selected="regular.age_end == 25" value="25">25</option>
                                        <option ng-selected="regular.age_end == 26" value="26">26</option>
                                        <option ng-selected="regular.age_end == 26" value="27">27</option>
                                        <option ng-selected="regular.age_end == 27" value="28">28</option>
                                        <option ng-selected="regular.age_end == 28" value="29">29</option>
                                    </select>

                                </div>


                                <div class="col-md-2 col-md-offset-2">
                                    <label class=" uppercase font-weight "> Height</label>

                                    <select class="form-control input-rounded " ng-model="regular.height_start">
                                        <option>Select</option>
                                        <option ng-selected="profile.login_user.height == 137" value="137">137 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 138" value="138">138 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 139" value="139">139 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 140" value="140">140 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 141" value="141">141 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 142" value="142">142 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 143" value="143">143 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 144" value="144">144 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 145" value="145">145 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 146" value="146">146 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 147" value="147">147 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 148" value="148">148 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 149" value="149">149 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 150" value="150">150 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 151" value="151">151 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 152" value="152">152 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 153" value="153">153 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 154" value="154">154 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 155" value="155">155 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 156" value="156">156 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 157" value="157">157 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 158" value="158">158 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 159" value="159">159 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 160" value="160">160 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 161" value="161">161 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 162" value="162">162 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 163" value="163">163 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 164" value="164">164 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 165" value="165">165 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 166" value="166">166 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 167" value="167">167 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 168" value="168">168 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 169" value="169">169 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 170" value="170">170 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 171" value="171">171 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 172" value="172">172 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 173" value="173">173 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 174" value="174">174 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 175" value="175">175 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 176" value="176">176 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 177" value="177">177 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 178" value="178">178 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 179" value="179">179 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 180" value="180">180 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 181" value="181">181 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 182" value="182">182 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 183" value="183">183 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 184" value="184">184 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 185" value="185">185 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 186" value="186">186 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 187" value="187">187 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 188" value="188">188 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 189" value="189">189 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 190" value="190">190 cms
                                        </option>


                                    </select>

                                </div>
                                <div class="col-md-2 ">
                                    <label class=" uppercase font-weight "> &nbsp;</label>

                                    <select class="form-control input-rounded " ng-model="regular.height_end">
                                        <option>Select</option>
                                        <option ng-selected="profile.login_user.height == 137" value="137">137 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 138" value="138">138 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 139" value="139">139 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 140" value="140">140 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 141" value="141">141 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 142" value="142">142 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 143" value="143">143 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 144" value="144">144 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 145" value="145">145 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 146" value="146">146 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 147" value="147">147 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 148" value="148">148 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 149" value="149">149 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 150" value="150">150 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 151" value="151">151 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 152" value="152">152 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 153" value="153">153 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 154" value="154">154 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 155" value="155">155 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 156" value="156">156 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 157" value="157">157 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 158" value="158">158 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 159" value="159">159 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 160" value="160">160 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 161" value="161">161 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 162" value="162">162 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 163" value="163">163 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 164" value="164">164 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 165" value="165">165 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 166" value="166">166 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 167" value="167">167 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 168" value="168">168 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 169" value="169">169 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 170" value="170">170 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 171" value="171">171 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 172" value="172">172 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 173" value="173">173 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 174" value="174">174 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 175" value="175">175 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 176" value="176">176 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 177" value="177">177 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 178" value="178">178 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 179" value="179">179 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 180" value="180">180 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 181" value="181">181 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 182" value="182">182 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 183" value="183">183 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 184" value="184">184 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 185" value="185">185 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 186" value="186">186 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 187" value="187">187 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 188" value="188">188 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 189" value="189">189 cms
                                        </option>
                                        <option ng-selected="profile.login_user.height == 190" value="190">190 cms
                                        </option>


                                    </select>

                                </div>

                            </div>
                            <div class="form-group">
                                <label class=" uppercase font-weight col-md-12 "> Marital Status</label>

                                <!--<div class="col-md-12">
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="regular.maritalStatus.any">
                                        Any</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="regular.maritalStatus.unmarried">
                                        Unmarried</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="regular.maritalStatus.widow">
                                        Widow</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="regular.maritalStatus.divorced">
                                        Divorced</label>
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="regular.maritalStatus.divorce_awaiting">
                                        Divorce awaiting</label>
                                </div>-->

                                <div class="col-md-12">
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="radio" icheckbox_flat-red class="icheck " name="mstatus" value="any" ng-model="regular.maritalStatus">
                                        Any</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="radio" icheckbox_flat-red class="icheck " name="mstatus" value="unmarried" ng-model="regular.maritalStatus">
                                        Unmarried</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="radio" icheckbox_flat-red class="icheck " name="mstatus" value="widow" ng-model="regular.maritalStatus">
                                        Widow</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="radio" icheckbox_flat-red class="icheck " name="mstatus" value="divorced" ng-model="regular.maritalStatus">
                                        Divorced</label>
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="radio" icheckbox_flat-red class="icheck " name="mstatus" value="divorceAwaiting"
                                               ng-model="regular.maritalStatus">
                                        Divorce awaiting</label>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Religion</label>

                                    <select multiple="multiple" class="multi-select form-control input-rounded "
                                            ng-model="multiValue.religion"
                                            ng-options="item.religion for item in religonList track by item.id_religion">
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Mother tongue</label>

                                    <select multiple="multiple" class="multi-select form-control input-rounded "
                                            ng-model="multiValue.mothertongue"
                                            ng-options="item.mothertongue for item in motherTongueList track by item.id_mothertongue">
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Occupation</label>

                                    <select multiple="multiple" class="multi-select form-control input-rounded "
                                            ng-model="multiValue.occupation"
                                            ng-options="item.occupation for item in occupation track by item.id_occupation">
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> Country</label>

                                    <select multiple="multiple" class="multi-select form-control input-rounded "
                                            ng-model="multiValue.country"
                                            ng-options="item.country_name for item in countryList track by item.id_country">
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight "> Education</label>

                                    <select multiple="multiple" class="multi-select form-control input-rounded "
                                            ng-model="multiValue.education"
                                            ng-options="item.education for item in educationList track by item.id_education">
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class=" uppercase font-weight  "> &nbsp;</label>


                                    <select multiple="multiple" class="multi-select form-control input-rounded "
                                            ng-model="multiValue.education_category"
                                            ng-options="item.education_category for item in educationCategoryList track by item.id_education_category">
                                    </select>
                                </div>

                            </div>
                            <hr>
                            <br>

                            <div class="form-group">
                                <label class=" uppercase font-weight col-md-12 "> Show Profiles</label>

                                <div class="col-md-12">
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck " ng-model="regular.showProfile.withPhoto">
                                        With Photo</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="regular.showProfile.withHoroscope">
                                        With Horoscope</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="regular.showProfile.onlineRightNow">
                                        Online Right Now</label>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class=" uppercase font-weight col-md-12 "> Don't show</label>

                                <div class="col-md-12">
                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="regular.dontShowProfile.ignoredProfile">
                                        Ignored Profiles</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="regular.dontShowProfile.profileAlreadyContacted">
                                        Profiles Already Contacted</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="regular.dontShowProfile.viewed">
                                        Viewed Profiles</label>

                                    <label class="checkbox-inline" class="custon-text">
                                        <input type="checkbox" icheckbox_flat-red class="icheck "
                                               ng-model="regular.dontShowProfile.shortlisted">
                                        Shortlisted Profiles</label>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="pull-right">
                                    <button type="button" class=" btn red input-rounded " ng-click="search()">
                                        Search
                                    </button>
                                    <button type="button" class=" btn red input-rounded " ng-click="search()">
                                        Save & Search
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</div>
<!-- END PAGE TITLE -->
<!-- BEGIN PAGE TOOLBAR -->
<!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->


<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
</div>